/*******************************
            LAYOUT
*******************************/
/* line 4, ../sass/ie.scss */
.z-bc {
  background-color: white;
}

/* line 6, ../sass/ie.scss */
.z-bc #newTabsPane {
  width: 200px;
  height: 100%;
  background-color: #d4e0ee;
  position: absolute;
  left: 0;
}

/* line 13, ../sass/ie.scss */
#breadCrumbPane {
  margin-left: 200px;
}

/* line 16, ../sass/ie.scss */
.z-bc #contentPaneContainer {
  margin-left: 200px;
}

/* line 18, ../sass/ie.scss */
.z-bc .z-bc-tab-pane {
  background-color: #d4e0ee;
}

/* line 20, ../sass/ie.scss */
.z-bc .z-bc-content-pane, .z-bc #contentPaneContainer {
  background-color: white;
}

/* line 22, ../sass/ie.scss */
.z-bc#newTabsPane ul {
  margin: 0;
  padding: 10px 0 0 0;
  width: 100%;
}

/* line 26, ../sass/ie.scss */
.z-bc#newTabsPane ul li {
  list-style-type: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 30, ../sass/ie.scss */
.z-bc#newTabsPane ul li a {
  display: block;
  line-height: 18px;
  text-decoration: none;
  padding: 1px 3px 1px 18px;
  font-size: 12px;
  font-family: helvetica,arial,tahoma,sans-serif;
  color: #454545;
}

/* line 38, ../sass/ie.scss */
.z-bc#newTabsPane ul li a:hover {
  background-color: #EEE;
  color: #454545;
}

/* line 41, ../sass/ie.scss */
.z-bc#newTabsPane ul li.selected a {
  background-color: #7199c6;
  color: white;
}

/* line 44, ../sass/ie.scss */
.z-bc .zentable-modified .tabletitle-right, .z-bc .zentable-modified .tabletitle-left {
  padding: 0;
}

/*******************************
             TABS
*******************************/
/*******************************
           TABLES
*******************************/
/* line 53, ../sass/ie.scss */
#ygddfdiv .zenportlet .tabletitle-right, #ygddfdiv .zenportlet .tabletitle-left {
  padding: 0;
}

/* line 56, ../sass/ie.scss */
.z-bc .zenportlet .tabletitle-right, .z-bc .zenportlet .tabletitle-left {
  padding: 0;
}

/* line 58, ../sass/ie.scss */
.z-bc .zentable-modified .tabletitle-center {
  padding: 0 5px;
}

/* line 61, ../sass/ie.scss */
#ygddfdiv .zenportlet .tabletitle-center {
  padding: 0 5px;
}

/* line 64, ../sass/ie.scss */
.z-bc .zenportlet .tabletitle-center {
  padding: 0 5px;
}

/* line 66, ../sass/ie.scss */
.z-bc .zentable-modified .tabletitle-center, .z-bc .zenportlet .tabletitle-center {
  background-color: #a6a6a6;
  background-image: url();
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  padding-left: 6px;
  height: 35px;
}

/* line 74, ../sass/ie.scss */
#ygddfdiv .zenportlet .tabletitle-center {
  background-color: #a6a6a6;
  background-image: url();
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  padding-left: 6px;
  height: 35px;
}

/* line 82, ../sass/ie.scss */
.z-bc div.tabletitlecontainer {
  background-color: #a6a6a6;
  background-image: url();
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  padding-left: 6px;
  height: 35px;
}

/* line 89, ../sass/ie.scss */
.z-bc .zentable-modified .tabletitle-center {
  color: #454545;
  font-family: helvetica,arial,tahoma,sans-serif;
  font-size: 13px;
  padding: 0 6px;
  line-height: 35px;
}

/* line 95, ../sass/ie.scss */
.z-bc .zentable-modified .tabletitle-container {
  height: 37px;
}

/* line 97, ../sass/ie.scss */
.z-bc div.menuslot {
  background: transparent url();
}

/*******************************
            MENUS
*******************************/
/* line 103, ../sass/ie.scss */
.z-bc-menu {
  display: none !important;
}

/* line 106, ../sass/ie.scss */
.z-bc-z-menu {
  background: #f0f0f0 url("/++resource++zenui/img/xtheme-zenoss/menu/menu.gif") repeat-y scroll 0 0;
}

/* line 109, ../sass/ie.scss */
.contextmenutab, .devmovemenuitems {
  display: none;
}

/* line 112, ../sass/ie.scss */
.z-bc-z-menu ul li {
  list-style-type: none;
  line-height: 100%;
  display: block;
  padding: 1px;
  white-space: nowrap;
}

/* line 118, ../sass/ie.scss */
.z-bc-z-menu ul li a {
  cursor: pointer;
  line-height: 16px;
  padding: 3px 21px 3px 27px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid transparent;
  font: 11px helvetica,arial,tahoma,sans-serif;
}

/* line 127, ../sass/ie.scss */
.z-bc-z-menu ul li a:hover {
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/menu/item-over.gif) repeat-x left bottom;
  border-color: #c2cbd2;
}

/* line 130, ../sass/ie.scss */
.z-bc-z-menu ul.zenMenu {
  margin: 0 0;
  padding: 2px;
  overflow: hidden;
}

/* line 135, ../sass/ie.scss */
.ext-ie .z-bc-z-menu {
  width: 180px;
}

/* line 137, ../sass/ie.scss */
.ext-ie .z-bc-page-menu {
  padding: 10px 0 5px;
}

/* line 139, ../sass/ie.scss */
.ext-ie .z-bc-z-menu ul li a {
  display: inline-block;
  width: 100%;
}

/*******************************
           DIALOGS
*******************************/
/* line 146, ../sass/ie.scss */
.dbox_tl {
  background: transparent no-repeat url(../img/xtheme-zenoss/window/left-corners.png) 0 0;
  padding-left: 6px;
}

/* line 150, ../sass/ie.scss */
.dbox_tc {
  background: transparent url(../img/xtheme-zenoss/window/top-bottom.png) repeat-x 0 0;
  padding: 0;
  margin: 0;
  height: 30px;
  line-height: 30px;
}

/* line 157, ../sass/ie.scss */
.dbox_tr {
  background: transparent url(../img/xtheme-zenoss/window/right-corners.png) no-repeat 100% 0px;
  padding-right: 6px;
}

/* line 161, ../sass/ie.scss */
.dbox_ml {
  background: transparent url(../img/xtheme-zenoss/window/left-right.png) repeat-y 0 0;
  padding-left: 6px;
}

/* line 165, ../sass/ie.scss */
.dbox_mc {
  background: transparent url(../img/xtheme-zenoss/window/left-right.png);
  font-family: helvetica,tahoma,sans-serif;
  color: #fafafa;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 173, ../sass/ie.scss */
.dbox_tc h2 {
  color: white;
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

/* line 179, ../sass/ie.scss */
.dbox_mr {
  background: transparent url(../img/xtheme-zenoss/window/left-right.png) repeat-y 100% 0px;
  padding-right: 6px;
}

/* line 183, ../sass/ie.scss */
.dbox_bl {
  background: transparent url(../img/xtheme-zenoss/window/left-corners.png) no-repeat 0px 100%;
  padding-left: 6px;
}

/* line 187, ../sass/ie.scss */
.dbox_bc {
  background: transparent url(../img/xtheme-zenoss/window/top-bottom.png) repeat-x 0px 100%;
  margin: 0;
  padding: 0;
}

/* line 192, ../sass/ie.scss */
.dbox_br {
  background: transparent url(../img/xtheme-zenoss/window/right-corners.png) no-repeat 100% 100%;
  padding-right: 6px;
}

/* line 196, ../sass/ie.scss */
#dialog_innercontent {
  padding: 5px;
}

/* line 199, ../sass/ie.scss */
.dialog_close {
  background: transparent url();
  line-height: 1.2em;
  position: absolute;
  top: -18px;
  right: -2px;
  cursor: pointer;
}

/* line 207, ../sass/ie.scss */
.ext-ie .dialog_container {
  width: 300px;
}

/* line 209, ../sass/ie.scss */
.ext-ie .dialog_close {
  right: 5px;
}

/* line 212, ../sass/ie.scss */
div.zenoss-portlet {
  margin: 0 0;
}

/* line 214, ../sass/ie.scss */
div.zenportlet .yui-skin-sam .yui-dt-table td {
  padding: 0;
}

/* line 217, ../sass/ie.scss */
#portletContainer .yui-g .yui-u {
  width: 50%;
}

/* line 219, ../sass/ie.scss */
#portletContainer .yui-gb .yui-u {
  width: 33%;
  margin: 0;
}

/* line 222, ../sass/ie.scss */
#portletContainer .yui-gb .yui-u.first {
  width: 34%;
}

/* line 224, ../sass/ie.scss */
#portletContainer .yui-gd .yui-u {
  width: 67%;
  margin-left: 0;
}

/* line 227, ../sass/ie.scss */
#portletContainer .yui-gd .yui-u.first {
  width: 33%;
}

/* line 229, ../sass/ie.scss */
#portletContainer .yui-gc .yui-u {
  width: 33%;
  margin-left: 0;
}

/* line 232, ../sass/ie.scss */
#portletContainer .yui-gc .yui-u.first {
  width: 67%;
}

/* line 235, ../sass/ie.scss */
.ext-ie #portletContainer .yui-g .yui-u.first {
  width: 49.9%;
}

/* line 237, ../sass/ie.scss */
.ext-ie #portletContainer .yui-gb .yui-u.first {
  width: 33.9%;
}

/* line 239, ../sass/ie.scss */
.ext-ie #portletContainer .yui-gc .yui-u.first {
  width: 66.9%;
}

/* line 241, ../sass/ie.scss */
.ext-ie #portletContainer .yui-gd .yui-u.first {
  width: 32.9%;
}

/* line 244, ../sass/ie.scss */
div.zenportlet div.resize-handle {
  height: 4px;
  width: 100%;
  cursor: s-resize;
  background-color: #888;
}

/* line 249, ../sass/ie.scss */
div.zenportlet div.portlet-header {
  height: 25px;
  line-height: 25px;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #949494;
}

/* line 257, ../sass/ie.scss */
#ygddfdiv .zenportlet .tabletitle-center, .z-bc .zenportlet .tabletitle-center {
  height: 25px;
  line-height: 25px;
  color: #343434;
  font-family: helvetica,arial,tahoma,sans-serif;
  font-size: 13px;
}

/* line 264, ../sass/ie.scss */
div.zenportlet div.portlet-body {
  margin: 0;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #949494;
}

/* line 270, ../sass/ie.scss */
div.tinylink-container {
  height: 20px;
  line-height: 20px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/grid/grid3-hrow.png) repeat-x;
}

/* line 275, ../sass/ie.scss */
#connectionmessage {
  color: #454545;
}

/* line 278, ../sass/ie.scss */
#portletContainer {
  background-color: #888;
}

/* line 281, ../sass/ie.scss */
.portlet-settings-toggle {
  position: absolute;
  right: 5px;
  top: 2px;
  height: 16px;
  cursor: pointer;
  width: 16px;
  background: transparent url("++resource++zenui/img/xtheme-zenoss/icon/icon-sprite.png") 0 -233px no-repeat;
}

/* line 290, ../sass/ie.scss */
div.portlet-settings {
  background-color: #d4e0ee;
  margin-top: 0;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #949494;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #949494;
}

/* line 298, ../sass/ie.scss */
.ext-ie div.portlet-settings {
  zoom: 1;
}

/* line 300, ../sass/ie.scss */
.ext-ie div.resize-handle {
  overflow: hidden;
}

/* line 302, ../sass/ie.scss */
.ext-ie .yui-ac {
  height: 30px;
}

/* line 305, ../sass/ie.scss */
.yui-skin-sam .tabletitle_layout {
  position: relative;
  top: -7px;
}

/* line 308, ../sass/ie.scss */
.yui-skin-sam th.tabletitle {
  line-height: 0;
}
