/* line 2, ../sass/streaming.scss */
div.streaming-container {
  font-family: Monaco,monospace;
  font-size: 12px;
  color: #eee;
}


div.streaming-line {
  white-space:pre-wrap;
}

/* line 6, ../sass/streaming.scss */
div.streaming-line.odd {
  color: #acc;
  padding: 3px 0;
}
