.zenevents_5_acked {
    color: #FFFFFF;
    background-color: #CD0000;
}
.zenevents_5_acked a, .zenevents_5_acked a:visited, .zenevents_5_acked a:link {
color: #FFFFFF;
}

.zenevents_5_noack {
    color: #000000;
    background-color: #FF0000;
    border: 2px solid #FF0000;
}

.zenevents_5_noack a, .zenevents_5_noack a:visited, .zenevents_5_noack a:link {
color: #000000;
}

.zenevents_4_acked {
    color: #FFFFFF;
    background-color: #b56300;
}
.zenevents_4_acked a, .zenevents_4_acked a:visited, .zenevents_4_acked a:link {
color: #FFFFFF
}

.zenevents_4_noack {
    color: #000000;
    background-color: #ffb329;
    border: 2px solid #ffb329;
}

.zenevents_4_noack.empty{
}

.zenevents_4_noack a, .zenevents_4_noack a:visited, .zenevents_4_noack a:link {
color: #000000
}

.zenevents_3_acked {
    color: #FFFFFF;
    background-color: #CDCD00;
}
.zenevents_3_acked a, .zenevents_3_acked a:visited, .zenevents_3_acked a:link {
color: #FFFFFF
}

.zenevents_3_noack {
    color: #000000;
    background-color: #ffff00;
    border: 2px solid #ffff00;
}

.zenevents_3_noack.empty {
}

.zenevents_3_noack a, .zenevents_3_noack a:visited, .zenevents_3_noack a:link {
color: #000000
}

.zenevents_2_acked {
    color: #FFFFFF;
    background-color: #4F94CD;
}
.zenevents_2_acked a, .zenevents_2_acked a:visited, .zenevents_2_acked a:link {
color: #FFFFFF
}

.zenevents_2_noack {
    color: #000000;
    background-color: #6368FF;
    border: 2px solid #6368FF;
}

.zenevents_2_noack.empty {
}

.zenevents_2_noack a, .zenevents_2_noack a:visited, .zenevents_2_noack a:link {
color: #000000
}

.zenevents_1_acked {
    color: #FFFFFF;
    background-color: #C8C8C8;
}
.zenevents_1_acked a, .zenevents_1_acked a:visited, .zenevents_1_acked a:link {
color: #FFFFFF
}

.zenevents_1_noack {
    color: #000000;
    background-color: #AFAFAF;
    border: 2px solid #AFAFAF;
}


.zenevents_1_noack a, .zenevents_1_noack a:visited, .zenevents_1_noack a:link {
color: #000000
}

.zenevents_0_acked {
    color: #FFFFFF;
    background-color: #00CD00;
}
.zenevents_0_acked a, .zenevents_0_acked a:visited, .zenevents_0_acked a:link {
color: #FFFFFF
}

.zenevents_0_noack {
    color: #000000;
    background-color: #00FF00;
}
.zenevents_0_noack a, .zenevents_0_noack a:visited, .zenevents_0_noack a:link {
color: #000000
}

.zenevents_unknown_acked {
    color: #FFFFFF;
    background-color: #CD00CD;
}
.zenevents_unknown_acked a, .zenevents_unknown_acked a:visited, .zenevents_unknown_acked a:link {
color: #FFFFFF
}

.zenevents_unknown_noack {
    color: #000000;
    background-color: #D02090;
}
.zenevents_unknown_noack a, .zenevents_unknown_noack a:visited, .zenevents_unknown_noack a:link {
color: #000000
}

.zenstatus_3 {
    color: #000000;
    background-color: #FF0000;
}

.zenstatus_2 {
    color: #000000;
    background-color: #ffb329;
}

.zenstatus_1 {
    color: #000000;
    background-color: #ffff00;
}

.zenstatus_0 {
    background-color: #00FF00;
}

.zenstatus_unknown {
    color: #000000;
    background-color: #D02090;
}

.empty {
    background-color: transparent;
}

.thin {
    border-width: 1px;
}
