Products/README.txt
Products/ZenUI3/browser/resources/js/deploy/
Products/ZenUI3/node_modules
#daemons
bin/runzope
bin/runzope.bat
bin/zope2.wsgi
bin/zopectl
bin/zopectl.bat
bin/powerline
bin/powerline-lint
bin/virtualenv-clone
bin/virtualenvwrapper.sh
bin/virtualenvwrapper_lazy.sh
bin/collectordaemons
bin/dc-admin
bin/protoc
bin/zenjserver
bin/zenvmwareevents
bin/zenvmwaremodeler
bin/zenvmwareperf


.idea/
.tox/
*.iml
*.pyc
*~
