Products/LDAPMultiPlugins/
Products/LDAPUserFolder/
Products/MemcachedManager/
Products/ZenModel/ZMigrateVersion.py
Products/ZenUI3/browser/resources/js/deploy/
Products/ZenUI3/node_modules

dist
build

.idea/
*.iml
*.pyc
*~
*.tar.gz
*.sw?
*.run
