.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #000030; background-color: #FFFFFF}

th.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #000030; background-color: #FFFFFF}

.tabletitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #eeeeee; background-color: #0000d0}
th.tabletitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #eeeeee; background-color: #0000d0}

.nothing { background-color: #FFFFFF }
td.nothing { background-color: #FFFFFF }

.coloredtitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
th.coloredtitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }

th.tt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #eeeeee; background-color: #0000d0}

.greyed { font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: white;
background-color: grey;}

.top_links {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a:link {  color: #000000}
a:visited {  color: #000000}
a:hover {  color: #0000ff}
a:active {  color: #0000ff}

a.tabletitle:link {  color: #eeeeee}
a.tabletitle:visited {  color: #eeeeee}
a.tabletitle:hover {  color: #aaaaaa}
a.tabletitle:active {  color: #aaaaaa}

.explanation {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}

.results {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000050; background-color: #eeeeef}
th.results {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000050; background-color: #eeeeef}
a.results:link {  color: #000050}
a.results:visited {  color: #000050}
a.results:hover {  color: #0000ff}
a.results:active {  color: #0000ff}

body { }

.top {  background-color: #eeeeee}

.lefttd {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
td.lefttd {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}

.leftth {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}
th.leftth {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}

.lefttdpopup {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
td.lefttdpopup {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}

th {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}

td {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
td.password {  font-family: Courier, Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
.password {  font-family: Courier, Verdana, Arial, Helvetica, sans-serif; font-size: 14px }

td.explanation {  font-family: Arial, Helvetica, sans-serif; font-size: 16px}
explanation {  font-family: Arial, Helvetica, sans-serif; font-size: 16px}

th.lefttitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000070 }
.lefttitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #eeeeee }
.lefttd { font-family: Arial, Helvetica, sans-serif; font-size: 10px }

.header {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #FFFFFF}
th.header { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #FFFFFF}

th.ltableheader { text-align: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #cccccc }
th.tableheader { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #cccccc }
.tableheader { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #cccccc }
td.tableheader { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; background-color: #cccccc }
