.filterbox {
    background: transparent url('img/filter_box_bg.gif') no-repeat 0px 0px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    z-index: 2000;
    width: 126px;
    top: 1px;
    padding-top: 4px;
    right: 60px;
}

.filterbox input[type="text"] {
    background: transparent none no-repeat; 
    border: medium none;
    color: #444;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 95px;
    padding-left: 20px;
    height: 21px;
}

div.tabletitlecontainer {
    height: 100%;
    position: relative;
}
