table.innerzentable {
    margin: 0px;
    padding: 0pt;
    border: 1px solid black;
    width: 100%;
    font-weight: normal;
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    margin-top: -3px;
    background-color: #E0E0E0;
}
* html table.innerzentable {
    
}

table.innerzentable * {
    position: relative;
    z-index: 1;
}

table.innerzentable tr td {
    padding: 1px;
    font-size: 8pt;
}

.zentable_selectionbar {
    height:14px;
    font-size: 10px;
    line-height: 14px;
    padding: 2px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    top: -2px;
    text-align: left;
    background: transparent url('img/stripe.png');
    margin-top: -1px;
}

.zentable_selectionbar ul {
    list-style-type: none;
    display: inline;
    margin: 0; padding: 0;
}

.zentable_selectionbar li {
    display:inline;
    text-decoration: underline;
    color: darkblue;
    margin: 0 4px;
    cursor: pointer;
}

.tabletitlecontainer input.tableheader {
    border: 1px solid darkgrey;
}
