html {
    background: #8f8f8f;
    font-family: Helvetica, Arial, sans-serif;
}

em { font-style: italic; }
strong { font-weight: bold; }

#header {
    padding-top: 5px;
    padding-left: 5px;
    background: transparent url('/zport/img/metalbg.gif') top left;
    height: 50px;
    border-bottom: 1px solid black;
}

#footer {
    height: 20px;
    font-size: smaller;
    text-align: center;
}

.selected_row {
    background: #dfe8f6 url('/zport/img/ext_rowindicator.gif') right center no-repeat;
}
#center_panel {
    border: 1px solid #777;
    background-color: white;
    margin: 20px;
}
#header-extra {
    float: right;
    height: 40px;
    color: #eee;
    line-height: 45px;
    padding-right: 1.3em;
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

#buttons {
    padding: 1em 10px;
}

#content-wrapper {
    max-width: 1000px;
    margin: auto;
}

#content {
    text-align: left;
    margin: 0 auto;
}

#header-username {
    padding-left: 15px;
    background: transparent url(img/usericon.png) left center no-repeat;
}

div.rounded-corners {
    background: transparent url('/zport/img/rounded_bars.gif') center left no-repeat;
    height: 46px;
}
div.inverted-rounded-corners {
    background: transparent url('/zport/img/rounded_bars_inverted.gif') center left no-repeat;
    height: 46px;
}

div.logo {
    float: left;
    margin: 0.4em;
    margin-top: 0;
    width: 516px;
    height: 40px;
    background: transparent url('/zport/logo.png') 2px 0px no-repeat;
}

div#errors {
    margin: 2em;
    font-weight: bold;
}

div#errors img {
    float: left;
}

div#errors ul {
    padding-left: 40px;
}

div.step-content {
    margin: 0 auto;
    text-align: center;
}

img.stepbox {
    margin: 1em;
}

div.form-fields {
    margin: 0.25em;
    padding: 0.25em;
}

div.error {
    border: dashed thick red;
}

div.x-combo-list-inner { text-align: left}
div.x-combo-list { position: relative; top:-20px; }

.x-tab-hide .x-tab-panel-header {
    display: none;
}

.helptext {
    color: #666;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 1em;
}

span.noem {
    font-style: normal;
}

/* Fix discussed here: https://yui-ext.com/forum/showthread.php?p=270748#post270748 */
.x-form-field-wrap {position: static;}
.x-form-field-wrap .x-form-trigger {position: static; top: auto; vertical-align: middle;}
.x-form-field-wrap .x-form-twin-triggers .x-form-trigger {position: static; top: auto; vertical-align: middle;}


table.step-content {
    margin-left: -85px;
}
.wizardStep {
    height: 175px;
    padding: 20px;
    background-color: #99bce8;
    color: #444;
    border-radius: 4px;
    position: relative;
    font-family: helvetica,arial,sans-serif;
    font-weight: bolder;
}
.wizardStepHeader {
    font-size: 25px;
    margin: 5px 0 35px 0;
}

.wizardIcon {
    position: absolute;
    top: 15px;
    right: 15px;
}
.wizardStepTitle {
    font-size: 18px;
    margin-bottom: 5px;
}
.wizardStepDescription {
    max-width: 200px;
}

.wizardColumn {
    border-right: solid 1px #CACACA !important;
    padding-right: 10px;
}

.quickstart .empty-grid-text {
    padding-top: 10px;
    text-align: center;
    font-size: 1.4em;
    color: #AAA;
    font-style: italic;
}


/* CSS reset button style */
.quickstart .btn {
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
.quickstart .btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* base button style */
.quickstart .btn {
    padding: 7px 12px;
    cursor: pointer;
    background-color: #BBB;
}
.quickstart .btn .x-btn-inner {
    font-size: 1.1em;
    color: #444;
}
.quickstart .btn:hover {
    background-color: #AAA;
}
.quickstart .btn:hover .x-btn-inner {
    font-size: 1.1em;
    color: #222;
}

/* diabled button */
.quickstart .btn.disabled .x-btn-inner {
    color: #777 !important;
}


/* minor button */
.quickstart .btn.minor {
    background-color: transparent;
    border: solid #CCC 1px;
}
.quickstart .btn.minor .x-btn-inner {
}
.quickstart .btn.minor:hover {
    background-color: #EEE;
}

img.stepbox {
   margin-bottom: 30px;
}

.list li {
    margin-left: 15px;
    list-style-type: disc;
}
