strong { font-weight: bold; }

.zenui3 { font-family: Helvetica,sans-serif; }

.zenui3 a.resource-link:link, 
.zenui3 a.resource-link:visited, 
.zenui3 a.resource-link:active {
    color: #7199c6;
    text-decoration: none;
    padding-right: 15px;
    background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/resource-link.png)
        right 1px no-repeat;
}

/**
 * PANEL
 */
.toggle-managed-splitbar {
    display: none !important;
}

/* 
 * GRID
 */
.console-selection .x-grid3-row-selected {
    background:#fff !important;
}
.console-selection .x-grid3-row-alt {
    background-color: #eaf0f7;
}
.console-selection .x-grid3-row-over.console-selection-clicked, 
.console-selection .console-selection-clicked {
    background: #7199c6 !important;
}
.console-selection .x-grid3-row-selected .x-grid3-cell-inner {
    color: #000;
}
.console-selection .console-selection-clicked .x-grid3-cell-inner{
    color: white;
}

/**
 * EVENT DETAIL
 */
.evdetail-sep {
    width: 22px;
    height: 50px;
    margin-right: 2px;
    background: transparent 
                url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-sep.png)
                center center no-repeat;
}

.evdetail_hd .x-panel-body {
    color: #474747;
    line-height: 50px;
    font-size: 15px;
    font-family: helvetica,sans-serif;
    background: transparent
        url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-bg.png) repeat-x;
}

.evdetail_hd td {
    font-size: 15px;
    font-family: helvetica,sans-serif;
}

.evdetail-popout {
    width: 20px;
    height: 50px;
    cursor: hand;
    cursor: pointer;
    background: transparent
                url(/++resource++zenui/img/xtheme-zenoss/icon/popout.png)
                center center no-repeat;
}
.evdetail_close .x-panel-body {
    background: transparent
                url(/++resource++zenui/img/xtheme-zenoss/window/close-button-dark.png)
                center center no-repeat;
    height: 50px;
    width: 25px;
    cursor: hand;
    cursor: pointer;
}

.evdetail_props {
    float: left;
    padding: 1em;
}
.evdetail_props table {
    font-size: 11pt;
}
.evdetail_props td {
    line-height: 1.5em;
}

.evdetail_props td.dt {
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
    width: 124px;
}

.evdetail_graph {
    float:left;
    margin: 1em;
    margin-left: 2em;
}

.evdetail-log-header {
    padding: 0 0 1em 3em;
}

.evdetail-log-header hr {
    color: #e1e1e1;
    background-color: #e1e1e1;
    border: medium none;
    margin-bottom: 1em;
}

.log-content {
    padding-top: 1em;
    padding-left: 3em;
}
.log-content td {
    padding: 0 5px;
    font-size: 12px;
}

.log-content table td.time {
    font-weight: bold;
    text-align: right;
}

.severity-icon {
    height: 50px;
    margin: 0 8px;
    width: 35px;
    background: transparent 
        url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite-large.png) 
        100px 100px no-repeat;
}

.severity-icon.critical { background-position: 0px 0px; }
.severity-icon.error { background-position: -44px 0px; }
.severity-icon.info { background-position: -88px 0px; }
.severity-icon.debug { background-position: -132px 0px; }
.severity-icon.clear { background-position: -176px 0px; }
.severity-icon.warning { background-position: -220px 0px; }


.severity-icon-small.critical,
.severity-icon-small.error,
.severity-icon-small.warning,
.severity-icon-small.info,
.severity-icon-small.debug,
.severity-icon-small.clear {
    width: 16px;
    height: 14px;
    background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png) no-repeat;
    margin: 0 auto;
}

.eventrainbow .severity-icon-small {
    background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite-reverse.png)
}

.severity-icon-small.critical { background-position: 0px  0px; }
.severity-icon-small.error    { background-position: 0px -20px; }
.severity-icon-small.warning  { background-position: 0px -40px; }
.severity-icon-small.info     { background-position: 0px -60px; }
.severity-icon-small.debug    { background-position: 0px -80px; }
.severity-icon-small.clear    { background-position: 0px -100px; }

.largetoolbar .severity-icon-small.critical { background-position: 2px  2px   }
.largetoolbar .severity-icon-small.error    { background-position: 2px -18px  }
.largetoolbar .severity-icon-small.warning  { background-position: 2px -38px  }
.largetoolbar .severity-icon-small.info     { background-position: 2px -58px  }
.largetoolbar .severity-icon-small.debug    { background-position: 2px -78px  }
.largetoolbar .severity-icon-small.clear    { background-position: 2px -98px }

/** making a copy of the styles for the tree */
/* The !important'ss are because IE is making .xtree-node-leaf .x-tree-node-icon more specific than these classes for the Tree */
.tree-severity-icon-small-critical,
.tree-severity-icon-small-error,
.tree-severity-icon-small-warning,
.tree-severity-icon-small-info,
.tree-severity-icon-small-debug,
.tree-severity-icon-small-clear {
    width: 16px !important;
    height: 14px!important;
    background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png) no-repeat !important;
    margin: 0 auto;
}

.tree-severity-icon-small-critical { background-position: 0px  0px !important; }
.tree-severity-icon-small-error    { background-position: 0px -20px!important; }
.tree-severity-icon-small-warning  { background-position: 0px -40px!important; }
.tree-severity-icon-small-info     { background-position: 0px -60px!important; }
.tree-severity-icon-small-debug    { background-position: 0px -80px!important; }
.tree-severity-icon-small-clear    { background-position: 0px -100px!important; }

/**
 * FILTER GRID
 */
.x-grid3-filter {
    height: 30px;
    background-color: #bdbdbd;
    border-bottom: 1px solid black;
}

.x-grid3-filter .x-panel-body{
    background-color: #bdbdbd;
}

.x-grid3-filter td {
    background-color: #bdbdbd;
}

.x-grid3-row.unacknowledged td .x-grid3-cell-inner {
    font-weight: bold;
}
.status-icon-small {
    width: 16px;
    height: 14px;
    background: transparent url() no-repeat;
    margin: 0 auto;
}

.status-icon-small-acknowledged { background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/acknowledge-small.png)}
.status-icon-small-suppressed { background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/suppress-small.png)}

.full_event_props {
    padding-left: 3em;
}

td.proptable_key {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

table.proptable {
    border: border-collapse;
}


#show_details {
    cursor: hand;
    cursor: pointer;
    font-size: 13px;
    color: #7199e6;
    text-decoration: none;
    padding-left: 3em;
    padding-bottom: 1em;
}

.x-toolbar div.xtb-text.lastupdated {
    font-size: 10px;
    color: #373737;
    font-weight: bold;
    padding-right: 1em;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.refreshevery {
    color: white;
    font-weight: bold;
    background-color: #474747;
    padding: 3px;
    display: block;
}

.x-grid3-row.rowcolor {
    border-color: #999 #999 #999;
}

.x-grid3-row-over.rowcolor,
.x-grid3-row-selected.rowcolor {
    background:#999 !important;
}

.x-grid3-row-over.rowcolor .x-grid3-cell-inner a,
.x-grid3-row-over.rowcolor .x-grid3-cell-inner {
    color: white;
}

.x-grid3-row.critical-acknowledged { background-color: #cd7474; }
.x-grid3-row.error-acknowledged { background-color: #d69f87; }
.x-grid3-row.warning-acknowledged { background-color: #e0dc95; }
.x-grid3-row.info-acknowledged { background-color: #95a5c2; }
.x-grid3-row.debug-acknowledged { background-color: #c8c8c8; }
.x-grid3-row.clear-acknowledged { background-color: #82a77e; }

.x-grid3-row.critical-unacknowledged { background-color: #d53a3a; }
.x-grid3-row.error-unacknowledged { background-color: #e5763a; }
.x-grid3-row.warning-unacknowledged { background-color: #e9e458; }
.x-grid3-row.info-unacknowledged { background-color: #5277c6; }
.x-grid3-row.debug-unacknowledged { background-color: #afafaf; }
.x-grid3-row.clear-unacknowledged { background-color: #488d43; }

.xtb-text.livegridinfopanel {
    font-size: 10px;
    color: #373737;
    font-weight: bold;
    padding-right: 1em;
    padding-bottom: 3px;
    text-transform: uppercase;
}

div.dialog-link {
    text-align: center;
}
div.dialog-link a {
    color: lightblue;
}

.proptable tr {
    background-color: transparent;
}
.proptable tr.even  {
    background-color: #eaf0f7;
}
.proptable td {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchfield-ml,
.searchfield-mr,
.searchfield-mc,
.searchfield-black-ml,
.searchfield-black-mr,
.searchfield-black-mc {
    height: 21px;
    border: medium none;
    background: transparent
                url(/++resource++zenui/img/xtheme-zenoss/form/searchfield-sprite.png)
                no-repeat;
}

.searchfield-ml,
.searchfield-black-ml { padding-left: 18px; }

.searchfield-mr,
.searchfield-black-mr { padding-right: 10px; }

.searchfield-ml {
    background-position: 0 0;
}

.searchfield-mc {
    background-position: 0 -21px;
    background-repeat: repeat-x;
}

.searchfield-mr {
    background-position: right -42px;
}

.searchfield-black-ml {
    background-position: 0 -63px;
}
.searchfield-black-mc {
    background-position: 0 -84px;
    background-repeat: repeat-x;
    color: white;
}
.searchfield-black-mr {
    background-position: right -105px;
}

.searchfield-black-mc .x-form-text,
.searchfield-mc .x-form-text {
    border: medium none;
    background: transparent url();
}

table.eventrainbow {
    border-collapse: collapse;
    height: 16px;
    width: 147px;
}

.eventrainbow td {
    width: 49px;
    padding-left: 22px;
    color: white;
    vertical-align: middle;
}
.largetoolbar .eventrainbow td {
    padding-left: 25px;
}

.largetoolbar table.eventrainbow {
    margin-top: 8px;
    height: 23px;
    border: 1px solid #707070;
    border-right-color: #bbb;
    border-bottom-color: #bbb;
}

table.eventrainbow td.critical { background-color: #d60000; }
table.eventrainbow td.error { background-color: #ff9711; }
table.eventrainbow td.warning { background-color: #fbd13d; }

.streaming-window .x-window-body {
    background: transparent url(../img/xtheme-zenoss/window/left-right.png);
}

.largetoolbar.devdetailbar table.eventrainbow {
    margin-top: 3px;
}

.devdetailbar .devdetailitem div {
    text-align: center;
    font-weight: normal;
    margin-top: -3px;
}
.devdetailbar .devdetailitem div.devdetail-textitem {
    font-size: 14px;
    height: 30px;
    line-height: 37px;
}
.devdetailbar .devdetailitem div.devdetail-labelitem {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
.devdetailbar div.devdetail-labelitem.devdetail-ipaddress {
    margin-top: -5px;
    text-align: left;
    font-size: 10pt;
}
.devdetailbar div.devdetail-textitem.devdetail-devname {
    margin-top: -5px;
    font-size: 11pt;
    font-weight: bold;
}

.display-field {
    padding-bottom: 7px;
    white-space: pre;
}

.editable-field {
    min-height: 15px;
}

.editable-field-over {
    background-color: lemonchiffon;
    cursor: hand;
    cursor: pointer;
}

#header-extra {
    position: absolute;
    right: 0;
    margin-right: 1em;
    color: #FFFFFF;
    font-size: 9.5pt;
    font-family: Helvetica,sans-serif;
}

#header-extra a {padding-left: 8px}
#header-extra a:link, #header-extra a:visited { text-decoration: none; color: white }
#header-extra a:hover {text-decoration: underline}

#searchbox-container {
    float: left;
    padding-top: 12px;
}

.searchbox-query {
    top: 16px;
    color: white;
    font-size: 9.5pt;
    font-family: Helvetica,sans-serif;

.autoformpanel {
    padding: 10px;
}

table.search-result {
    border-collapse:collapse;
    table-layout:fixed;
    width:360px;
}

.search-result {
    background:#fcfcfc;
    font-family: Helvetica,sans-serif;
}

.search-result .search-item-selected {
    background:#6498c8;
    color:#fff;
}

.search-result th {
    width:100px;
    border-right:1px solid #ccc;
    padding:0px 6px 0px 0px;
    vertical-align:top;
    text-align:right;
    font-weight:bold;
    font-size:10px;
}

.search-result td {
    cursor:pointer;
}

.search-result td.icon {
    vertical-align:top;
    width:16px;
    height:16px;
}

.search-result .icon img {
    width:16px;
    height:16px;
}

.search-result td.excerpt {
    width:260px;
    padding:0px 0px 0px 6px;
    font-size:12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.x-tip .x-tip-mc li {
    padding: 5px 0;
}

.x-tip-header {
    padding-bottom: 5px;
}

.x-tip span.x-tip-header-text {
    font-size: 13px;
}

