/* line 1, ../sass/zenoss.scss */
strong {
  font-weight: bold;
}

/* line 4, ../sass/zenoss.scss */
em {
  font-style: italic;
}

/* line 8, ../sass/zenoss.scss */
a:link, a:visited {
  color: #6386AE;
  font-family: helvetica,arial,sans-serif;
}

/* line 12, ../sass/zenoss.scss */
.zenui3 {
  font-family: Helvetica,sans-serif;
}
/* line 15, ../sass/zenoss.scss */
.zenui3 a.resource-link:link, .zenui3 a.resource-link:visited, .zenui3 a.resource-link:active {
  color: #7199c6;
  text-decoration: none;
  padding-right: 15px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/resource-link.png) right 1px no-repeat;
}

/* line 23, ../sass/zenoss.scss */
.toggle-managed-splitbar {
  display: none !important;
}

/* line 30, ../sass/zenoss.scss */
.console-selection .x-grid3-row-selected {
  background: #fff !important;
}
/* line 32, ../sass/zenoss.scss */
.console-selection .x-grid3-row-alt {
  background-color: #eaf0f7;
}
/* line 34, ../sass/zenoss.scss */
.console-selection .x-grid3-row-over.console-selection-clicked, .console-selection .console-selection-clicked {
  background: #7199c6 !important;
}
/* line 36, ../sass/zenoss.scss */
.console-selection .x-grid3-row-selected .x-grid3-cell-inner {
  color: #000;
}
/* line 38, ../sass/zenoss.scss */
.console-selection .console-selection-clicked .x-grid3-cell-inner {
  color: white;
}

/* line 44, ../sass/zenoss.scss */
.inspector {
  font-family: helvetica, sans-serif;
  background-color: white;
}
/* line 47, ../sass/zenoss.scss */
.inspector .inspector-header {
  height: 54px;
  color: black;
  font-size: 15px;
  background: bottom #bdbdbd url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-bg.png) repeat-x;
  border-top: 3px solid #BBBBBB;
  border-bottom: 1px solid #949494;
}
/* line 54, ../sass/zenoss.scss */
.inspector .inspector-header a {
  text-decoration: none;
}
/* line 56, ../sass/zenoss.scss */
.inspector .inspector-header a:visited, .inspector .inspector-header a:link {
  text-decoration: none;
}
/* line 58, ../sass/zenoss.scss */
.inspector .inspector-header a:hover {
  text-decoration: underline;
}
/* line 60, ../sass/zenoss.scss */
.inspector .inspector-header .header-icon {
  height: 50px;
  width: 43px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-bg.png) no-repeat;
}
/* line 65, ../sass/zenoss.scss */
.inspector .inspector-header .header-title {
  height: 50px;
  padding-left: 30px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-sep.png) left center no-repeat;
}
/* line 69, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .name {
  font-size: 13pt;
  font-weight: bold;
}
/* line 72, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .name a {
  color: black;
}
/* line 74, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .name a:hover, .inspector .inspector-header .header-title .name a:visited, .inspector .inspector-header .header-title .name a:link {
  color: black;
}
/* line 76, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .info {
  font-size: 9pt;
  font-weight: normal;
  color: #383838;
}
/* line 80, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .info a {
  color: #383838;
}
/* line 82, ../sass/zenoss.scss */
.inspector .inspector-header .header-title .info a:hover, .inspector .inspector-header .header-title .info a:visited, .inspector .inspector-header .header-title .info a:link {
  color: #383838;
}
/* line 84, ../sass/zenoss.scss */
.inspector .inspector-body {
  margin: 10px;
  background: #FAFAFA;
  border: 1px solid #B7B7B7;
  padding: 10px;
}
/* line 85, ../sass/zenoss.scss */
.inspector .inspector-body .eventrainbow {
  height: 21px;
  font-size: 11px;
  line-height: 13px;
  width: auto;
  margin-left: 20px;
  margin-right: 30px;
}
/* line 92, ../sass/zenoss.scss */
.inspector .inspector-body .eventrainbow td {
  border-right: 1px solid #FAFAFA;
}
/* line 95, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.critical {
  background-position: 2px  2px;
}
/* line 97, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.error {
  background-position: 2px -18px;
}
/* line 99, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.warning {
  background-position: 2px -38px;
}
/* line 101, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.info {
  background-position: 2px -58px;
}
/* line 103, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.debug {
  background-position: 2px -78px;
}
/* line 105, ../sass/zenoss.scss */
.inspector .inspector-body .severity-icon-small.clear {
  background-position: 2px -98px;
}
/* line 111, ../sass/zenoss.scss */
.inspector .inspector-body .inspector-property {
  margin-bottom: 15px;
}
/* line 113, ../sass/zenoss.scss */
.inspector .inspector-body .inspector-property .inspector-property-label {
  font-size: 13px;
  color: #5a5a5a;
  margin-bottom: 11px;
  display: block;
}
/* line 118, ../sass/zenoss.scss */
.inspector .inspector-body .inspector-property .inspector-property-value {
  color: #999999;
  display: block;
  margin-left: 10px;
}

/* line 123, ../sass/zenoss.scss */
.inspector-window .x-window-mc {
  padding-top: 0;
}

/* line 129, ../sass/zenoss.scss */
.evdetail-sep {
  width: 22px;
  height: 50px;
  margin-right: 2px;
  margin-left: -3px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-sep.png) center center no-repeat;
}

/* line 137, ../sass/zenoss.scss */
.evdetail_hd .x-panel-body {
  color: #474747;
  line-height: 50px;
  font-size: 15px;
  font-family: helvetica,sans-serif;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/toolbar/tb-evdetail-bg.png) repeat-x;
}
/* line 143, ../sass/zenoss.scss */
.evdetail_hd td {
  font-size: 15px;
  font-family: helvetica,sans-serif;
}

/* line 147, ../sass/zenoss.scss */
.evdetail-popout {
  width: 20px;
  height: 50px;
  cursor: hand;
  cursor: pointer;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/popout.png) center center no-repeat;
}

/* line 154, ../sass/zenoss.scss */
.evdetail_close .x-panel-body {
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/window/close-button-dark.png) center center no-repeat;
  height: 50px;
  width: 25px;
  cursor: hand;
  cursor: pointer;
}

/* line 161, ../sass/zenoss.scss */
.evdetail_props {
  float: left;
  padding: 1em;
}
/* line 164, ../sass/zenoss.scss */
.evdetail_props table {
  font-size: 11pt;
}
/* line 166, ../sass/zenoss.scss */
.evdetail_props td {
  line-height: 1.5em;
}
/* line 168, ../sass/zenoss.scss */
.evdetail_props td.dt {
  text-align: right;
  font-weight: bold;
  padding-right: 1em;
  width: 124px;
}

/* line 174, ../sass/zenoss.scss */
.evdetail_graph {
  float: left;
  margin: 1em;
  margin-left: 2em;
}

/* line 179, ../sass/zenoss.scss */
.evdetail-log-header {
  padding: 0 0 1em 3em;
}
/* line 181, ../sass/zenoss.scss */
.evdetail-log-header hr {
  color: #e1e1e1;
  background-color: #e1e1e1;
  border: medium none;
  margin-bottom: 1em;
}

/* line 187, ../sass/zenoss.scss */
.log-content {
  padding-top: 1em;
  padding-left: 3em;
}
/* line 190, ../sass/zenoss.scss */
.log-content td {
  padding: 0 5px;
  font-size: 12px;
}
/* line 193, ../sass/zenoss.scss */
.log-content table td.time {
  font-weight: bold;
  text-align: right;
}

/* line 197, ../sass/zenoss.scss */
.severity-icon {
  height: 50px;
  margin: 0 8px;
  width: 35px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite-large.png) 100px 100px no-repeat;
}
/* line 202, ../sass/zenoss.scss */
.severity-icon.critical {
  background-position: 0px 0px;
}
/* line 204, ../sass/zenoss.scss */
.severity-icon.error {
  background-position: -44px 0px;
}
/* line 206, ../sass/zenoss.scss */
.severity-icon.info {
  background-position: -88px 0px;
}
/* line 208, ../sass/zenoss.scss */
.severity-icon.debug {
  background-position: -132px 0px;
}
/* line 210, ../sass/zenoss.scss */
.severity-icon.clear {
  background-position: -176px 0px;
}
/* line 212, ../sass/zenoss.scss */
.severity-icon.warning {
  background-position: -220px 0px;
}

/* line 216, ../sass/zenoss.scss */
.severity-icon-small.critical, .severity-icon-small.error, .severity-icon-small.warning, .severity-icon-small.info, .severity-icon-small.debug, .severity-icon-small.clear {
  width: 16px;
  height: 14px;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png) no-repeat;
  margin: 0 auto;
}

/* line 222, ../sass/zenoss.scss */
.no-events {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 227, ../sass/zenoss.scss */
.acked-events {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
}

/* line 232, ../sass/zenoss.scss */
a.eventrainbow {
  text-decoration: none;
}

/* line 235, ../sass/zenoss.scss */
.eventrainbow .severity-icon-small {
  background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite-reverse.png);
}

/* line 239, ../sass/zenoss.scss */
.severity-icon-small.critical {
  background-position: 0px  0px;
}
/* line 241, ../sass/zenoss.scss */
.severity-icon-small.error {
  background-position: 0px -20px;
}
/* line 243, ../sass/zenoss.scss */
.severity-icon-small.warning {
  background-position: 0px -40px;
}
/* line 245, ../sass/zenoss.scss */
.severity-icon-small.info {
  background-position: 0px -60px;
}
/* line 247, ../sass/zenoss.scss */
.severity-icon-small.debug {
  background-position: 0px -80px;
}
/* line 249, ../sass/zenoss.scss */
.severity-icon-small.clear {
  background-position: 0px -100px;
}

/* line 252, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.critical, .largetoolbar .severity-icon-small.critical {
  background-position: 2px  2px;
}

/* line 255, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.error, .largetoolbar .severity-icon-small.error {
  background-position: 2px -18px;
}

/* line 258, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.warning, .largetoolbar .severity-icon-small.warning {
  background-position: 2px -38px;
}

/* line 261, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.info, .largetoolbar .severity-icon-small.info {
  background-position: 2px -58px;
}

/* line 264, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.debug, .largetoolbar .severity-icon-small.debug {
  background-position: 2px -78px;
}

/* line 267, ../sass/zenoss.scss */
div.zenportlet .severity-icon-small.clear, .largetoolbar .severity-icon-small.clear {
  background-position: 2px -98px;
}

/* line 273, ../sass/zenoss.scss */
.tree-severity-icon-small-critical, .tree-severity-icon-small-error, .tree-severity-icon-small-warning, .tree-severity-icon-small-info, .tree-severity-icon-small-debug, .tree-severity-icon-small-clear, .tree-template-icon-component, .tree-template-icon-bound, .tree-template-icon-bound-span, .tree-template-icon-component-span {
  width: 16px !important;
  height: 14px!important;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png) no-repeat !important;
  margin: 0 auto;
}

/* line 279, ../sass/zenoss.scss */
.tree-severity-icon-small-critical {
  background-position: 0px  0px !important;
}

/* line 282, ../sass/zenoss.scss */
.tree-severity-icon-small-error {
  background-position: 0px -20px !important;
}

/* line 285, ../sass/zenoss.scss */
.tree-severity-icon-small-warning {
  background-position: 0px -40px !important;
}

/* line 288, ../sass/zenoss.scss */
.tree-severity-icon-small-info {
  background-position: 0px -60px !important;
}

/* line 291, ../sass/zenoss.scss */
.tree-severity-icon-small-debug {
  background-position: 0px -80px !important;
}

/* line 294, ../sass/zenoss.scss */
.tree-severity-icon-small-clear {
  background-position: 0px -100px !important;
}

/* line 297, ../sass/zenoss.scss */
.tree-template-icon-component {
  background-position: 0px -80px !important;
}

/* line 300, ../sass/zenoss.scss */
.tree-template-icon-bound {
  background-position: 0px -100px !important;
}

/* line 303, ../sass/zenoss.scss */
.tree-template-icon-bound-span {
  background-position: 0px -95px !important;
}

/* line 306, ../sass/zenoss.scss */
.tree-template-icon-component-span {
  background-position: 0px -74px !important;
}

/* line 309, ../sass/zenoss.scss */
.tree-node-no-icon {
  width: 16px !important;
}

/* line 315, ../sass/zenoss.scss */
.x-grid3-filter {
  height: 30px;
  background-color: #bdbdbd;
  border-bottom: 1px solid black;
}
/* line 319, ../sass/zenoss.scss */
.x-grid3-filter .x-panel-body, .x-grid3-filter td {
  background-color: #bdbdbd;
}

/* line 322, ../sass/zenoss.scss */
.x-grid3-row.unacknowledged td .x-grid3-cell-inner {
  font-weight: bold;
}

/* line 325, ../sass/zenoss.scss */
.status-icon-small {
  width: 16px;
  height: 14px;
  background: transparent url() no-repeat;
  margin: 0 auto;
}

/* line 331, ../sass/zenoss.scss */
.status-icon-small-acknowledged {
  width: 16px;
  height: 14px;
  background: transparent url() no-repeat;
  margin: 0 auto;
  background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/acknowledge-small.png);
}

/* line 338, ../sass/zenoss.scss */
.status-icon-small-suppressed {
  width: 16px;
  height: 14px;
  background: transparent url() no-repeat;
  margin: 0 auto;
  background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/suppress-small.png);
}

/* line 345, ../sass/zenoss.scss */
.status-icon-small-aged, .status-icon-small-cleared, .status-icon-small-closed {
  width: 16px;
  height: 14px;
  background: transparent url() no-repeat;
  margin: 0 auto;
  background-image: url(/++resource++zenui/img/xtheme-zenoss/icon/close-small.png);
}

/* line 352, ../sass/zenoss.scss */
.full_event_props {
  padding-left: 3em;
}

/* line 355, ../sass/zenoss.scss */
td.proptable_key {
  font-weight: bold;
  text-align: left;
  padding-right: 1em;
}

/* line 360, ../sass/zenoss.scss */
table.proptable {
  border: border-collapse;
}

/* line 363, ../sass/zenoss.scss */
.show_details {
  cursor: hand;
  cursor: pointer;
  font-size: 13px;
  color: #7199e6;
  text-decoration: none;
  padding-left: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
}

/* line 373, ../sass/zenoss.scss */
.event_details {
  font-size: 13px;
  text-decoration: none;
  padding-left: 3em;
  padding-bottom: 1em;
  padding-top: 1em;
}

/* line 380, ../sass/zenoss.scss */
.x-toolbar div.xtb-text.lastupdated {
  font-size: 10px;
  color: #373737;
  font-weight: bold;
  padding-right: 1em;
  padding-bottom: 3px;
  text-transform: uppercase;
}

/* line 388, ../sass/zenoss.scss */
.refreshevery {
  color: white;
  font-weight: bold;
  background-color: #474747;
  padding: 3px;
  display: block;
  height: 15px;
}

/* line 397, ../sass/zenoss.scss */
.rowcolor {
  border-color: #999 #999 #999;
}

/* line 400, ../sass/zenoss.scss */
.x-grid3-row-over-rowcolor, .x-grid3-row-selected-rowcolor {
  background: #999 !important;
}

/* line 403, ../sass/zenoss.scss */
.x-grid3-row-over-rowcolor .x-grid3-cell-inner {
  color: white;
}
/* line 404, ../sass/zenoss.scss */
.x-grid3-row-over-rowcolor .x-grid3-cell-inner a {
  color: white;
}

/* line 409, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-critical-acknowledged {
  background-color: #cd7474;
}
/* line 411, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-error-acknowledged {
  background-color: #d69f87;
}
/* line 413, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-warning-acknowledged {
  background-color: #e0dc95;
}
/* line 415, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-info-acknowledged {
  background-color: #95a5c2;
}
/* line 417, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-debug-acknowledged {
  background-color: #c8c8c8;
}
/* line 419, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-clear-acknowledged {
  background-color: #82a77e;
}
/* line 421, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-critical-unacknowledged {
  background-color: #d53a3a;
}
/* line 423, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-error-unacknowledged {
  background-color: #e5763a;
}
/* line 425, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-warning-unacknowledged {
  background-color: #e9e458;
}
/* line 427, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-info-unacknowledged {
  background-color: #5277c6;
}
/* line 429, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-debug-unacknowledged {
  background-color: #afafaf;
}
/* line 431, ../sass/zenoss.scss */
.x-grid3-row.rowcolor-clear-unacknowledged {
  background-color: #488d43;
}

/* line 434, ../sass/zenoss.scss */
.xtb-text.livegridinfopanel {
  font-size: 10px;
  color: #373737;
  font-weight: bold;
  padding-right: 1em;
  padding-bottom: 3px;
  margin-top: 4px;
  text-transform: uppercase;
  position: relative;
  top: -8px;
}

/* line 445, ../sass/zenoss.scss */
div.dialog-link {
  text-align: center;
}
/* line 447, ../sass/zenoss.scss */
div.dialog-link a {
  color: lightblue;
}

/* line 451, ../sass/zenoss.scss */
.proptable tr {
  background-color: transparent;
}
/* line 453, ../sass/zenoss.scss */
.proptable tr.even {
  background-color: #eaf0f7;
}
/* line 455, ../sass/zenoss.scss */
.proptable td {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 460, ../sass/zenoss.scss */
.searchfield-ml, .searchfield-mr, .searchfield-mc, .searchfield-black-ml, .searchfield-black-mr, .searchfield-black-mc {
  height: 21px;
  border: medium none;
  background: transparent url(/++resource++zenui/img/xtheme-zenoss/form/searchfield-sprite.png) no-repeat;
}

/* line 465, ../sass/zenoss.scss */
.searchfield-ml, .searchfield-black-ml {
  padding-left: 18px;
}

/* line 468, ../sass/zenoss.scss */
.searchfield-mr, .searchfield-black-mr {
  padding-right: 10px;
}

/* line 471, ../sass/zenoss.scss */
.searchfield-ml {
  background-position: 0 0;
}

/* line 474, ../sass/zenoss.scss */
.searchfield-mc {
  background-position: 0 -21px;
  background-repeat: repeat-x;
}

/* line 478, ../sass/zenoss.scss */
.searchfield-mr {
  background-position: right -42px;
}

/* line 481, ../sass/zenoss.scss */
.searchfield-black-ml {
  background-position: 0 -63px;
}

/* line 484, ../sass/zenoss.scss */
.searchfield-black-mc {
  background-position: 0 -84px;
  background-repeat: repeat-x;
  color: white;
}

/* line 489, ../sass/zenoss.scss */
.searchfield-black-mr {
  background-position: right -105px;
}

/* line 492, ../sass/zenoss.scss */
.searchfield-black-mc .x-form-text, .searchfield-mc .x-form-text {
  border: medium none;
  background: transparent url();
}

/* line 496, ../sass/zenoss.scss */
.searchfield-black .x-form-arrow-trigger {
  background-position: -102px 0;
  border-bottom: medium none;
}
/* line 499, ../sass/zenoss.scss */
.searchfield-black .x-form-arrow-trigger.x-form-trigger-click, .searchfield-black .x-form-arrow-trigger.x-form-trigger-over {
  background-position: -119px 0;
}

/* line 503, ../sass/zenoss.scss */
.saved-search-item .x-combo-list-inner {
  background-image: url(../img/xtheme-zenoss/window/left-right.png);
  color: white;
  padding: 15px;
  overflow-y: hidden;
}
/* line 508, ../sass/zenoss.scss */
.saved-search-item .x-combo-list-item {
  border: none;
}
/* line 510, ../sass/zenoss.scss */
.saved-search-item .x-combo-selected {
  background-color: #ddd;
  color: black;
}

/* line 514, ../sass/zenoss.scss */
#manage-search-link {
  font-size: 12px;
}

/* line 521, ../sass/zenoss.scss */
table.eventrainbow {
  border-collapse: collapse;
  height: 16px;
  width: 100%;
  cursor: pointer;
  cursor: hand;
}
/* line 527, ../sass/zenoss.scss */
table.eventrainbow:hover {
  cursor: pointer;
}
/* line 529, ../sass/zenoss.scss */
table.eventrainbow_cols_3 tr td {
  width: 33%;
}
/* line 531, ../sass/zenoss.scss */
table.eventrainbow_cols_4 tr td {
  width: 25%;
}
/* line 533, ../sass/zenoss.scss */
table.eventrainbow_cols_5 tr td {
  width: 20%;
}

/* line 537, ../sass/zenoss.scss */
div.portlet-body.yui-dt table.eventrainbow {
  width: 18em;
}
/* line 540, ../sass/zenoss.scss */
div.zenportlet table.eventrainbow {
  width: 18em;
}
/* line 542, ../sass/zenoss.scss */
div.zenportlet .eventrainbow td {
  padding-left: 22px;
  color: white;
  vertical-align: middle;
}

/* line 547, ../sass/zenoss.scss */
.eventrainbow td {
  padding-left: 22px;
  color: white;
  vertical-align: middle;
}
/* line 551, ../sass/zenoss.scss */
.eventrainbow td.severity-icon-small {
  width: 25px;
}

/* line 554, ../sass/zenoss.scss */
table.innerzentable table.eventrainbow tr td {
  padding-left: 23px;
}

/* line 557, ../sass/zenoss.scss */
div.zenportlet .eventrainbow td, .largetoolbar .eventrainbow td {
  padding-left: 25px;
}

/* line 560, ../sass/zenoss.scss */
div.zenportlet table.eventrainbow {
  height: 23px;
  border: 1px solid #707070;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
}

/* line 566, ../sass/zenoss.scss */
.largetoolbar table.eventrainbow {
  height: 23px;
  border: 1px solid #707070;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
  margin-top: 8px;
}

/* line 574, ../sass/zenoss.scss */
table.eventrainbow td.critical {
  background-color: #d60000;
}
/* line 576, ../sass/zenoss.scss */
table.eventrainbow td.error {
  background-color: #ff9711;
}
/* line 578, ../sass/zenoss.scss */
table.eventrainbow td.warning {
  background-color: #fbd13d;
}
/* line 580, ../sass/zenoss.scss */
table.eventrainbow td.info {
  background-color: #0472b8;
}
/* line 582, ../sass/zenoss.scss */
table.eventrainbow td.debug {
  background-color: #747474;
}
/* line 584, ../sass/zenoss.scss */
table.eventrainbow td.clear {
  background-color: #62a700;
}

/* line 587, ../sass/zenoss.scss */
.streaming-window .x-window-body {
  background: transparent url(../img/xtheme-zenoss/window/left-right.png);
}

/* line 590, ../sass/zenoss.scss */
.largetoolbar.devdetailbar {
  border-top: 3px solid #b2b2b2 !important;
}
/* line 592, ../sass/zenoss.scss */
.largetoolbar.devdetailbar table.eventrainbow {
  margin-top: 3px;
}

/* line 596, ../sass/zenoss.scss */
.devdetailbar .devdetailitem {
  margin-left: 8px;
  margin-right: 8px;
}
/* line 599, ../sass/zenoss.scss */
.devdetailbar .devdetailitem div {
  text-align: center;
  font-weight: normal;
  margin-top: -3px;
}
/* line 603, ../sass/zenoss.scss */
.devdetailbar .devdetailitem div.devdetail-textitem {
  font-size: 14px;
  height: 30px;
  line-height: 37px;
}
/* line 604, ../sass/zenoss.scss */
.devdetailbar .devdetailitem div.devdetail-textitem span {
  font-size: 14px;
  height: 30px;
  line-height: 37px;
}
/* line 611, ../sass/zenoss.scss */
.devdetailbar .devdetailitem div.devdetail-labelitem {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
/* line 615, ../sass/zenoss.scss */
.devdetailbar .devdetail-devname {
  margin-top: 2px;
  font-size: 13pt;
  font-weight: bold;
  color: black;
}

/* line 621, ../sass/zenoss.scss */
.ext-ie .devdetailbar .devdetail-devname {
  margin-top: 0px;
}

/* line 625, ../sass/zenoss.scss */
.devdetailbar .devdetail-devclass {
  text-align: left;
  font-size: 9pt;
  font-weight: normal;
}
/* line 629, ../sass/zenoss.scss */
.devdetailbar .devdetail-ipaddress {
  text-align: left;
  font-size: 9pt;
  font-weight: normal;
  margin-top: -7px;
}
/* line 634, ../sass/zenoss.scss */
.devdetailbar .devdetail-devclass {
  margin-top: -4px;
}

/* line 637, ../sass/zenoss.scss */
.devdetail-icon {
  height: 50px;
  width: 52px;
  background: transparent url() center center no-repeat;
}

/* line 642, ../sass/zenoss.scss */
.display-field {
  padding-bottom: 7px;
  white-space: pre;
}

/* line 646, ../sass/zenoss.scss */
.editable-field {
  min-height: 15px;
}

/* line 649, ../sass/zenoss.scss */
.editable-field-over {
  background-color: lemonchiffon;
  cursor: hand;
  cursor: pointer;
}

/* line 654, ../sass/zenoss.scss */
.exception-message {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  font-family: monospace;
  font-weight: bold;
}

/* line 661, ../sass/zenoss.scss */
#header-extra {
  position: absolute;
  right: 0;
  color: #FFFFFF;
  font-size: 9.5pt;
  font-family: Helvetica,sans-serif;
}
/* line 667, ../sass/zenoss.scss */
#header-extra div {
  float: left;
}
/* line 669, ../sass/zenoss.scss */
#header-extra div a {
  padding-left: 8px;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 674, ../sass/zenoss.scss */
#header-extra div a:link, #header-extra div a:visited {
  text-decoration: none;
  color: white;
}
/* line 677, ../sass/zenoss.scss */
#header-extra div a:hover {
  text-decoration: underline;
}

/* line 680, ../sass/zenoss.scss */
#searchbox-container {
  float: left;
  padding-top: 12px;
  position: absolute;
  left: -180px;
  width: 130px;
}

/* line 687, ../sass/zenoss.scss */
#help-icon-container a {
  height: 14px;
  width: 14px;
  background: transparent url(/++resource++zenui/img/help-icon.png) center center no-repeat;
  margin-right: 14px;
  padding-top: 2px;
}

/* line 694, ../sass/zenoss.scss */
.ext-ie #help-icon-container a:hover {
  text-decoration: none;
}

/* line 697, ../sass/zenoss.scss */
.searchbox-query {
  top: 16px;
  color: white;
  font-size: 9.5pt;
  font-family: Helvetica,sans-serif;
}

/* line 703, ../sass/zenoss.scss */
.autoformpanel {
  padding: 10px;
}

/* line 706, ../sass/zenoss.scss */
table.search-result {
  border-collapse: collapse;
  table-layout: fixed;
  width: 360px;
}

/* line 711, ../sass/zenoss.scss */
.search-result {
  background: #fcfcfc;
  font-family: Helvetica,sans-serif;
}
/* line 714, ../sass/zenoss.scss */
.search-result .search-item-selected {
  background: #6498c8;
  color: #fff;
}
/* line 717, ../sass/zenoss.scss */
.search-result th {
  width: 100px;
  border-right: 1px solid #ccc;
  padding: 0px 6px 0px 0px;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  font-size: 10px;
}
/* line 725, ../sass/zenoss.scss */
.search-result td {
  cursor: pointer;
}
/* line 727, ../sass/zenoss.scss */
.search-result td.icon {
  vertical-align: top;
  width: 16px;
  height: 16px;
}
/* line 731, ../sass/zenoss.scss */
.search-result .icon img {
  width: 16px;
  height: 16px;
}
/* line 734, ../sass/zenoss.scss */
.search-result td.excerpt {
  width: 260px;
  padding: 0px 0px 0px 6px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 742, ../sass/zenoss.scss */
.x-tip .x-tip-mc li {
  padding: 5px 0;
}

/* line 745, ../sass/zenoss.scss */
.x-tip-header {
  padding-bottom: 5px;
}

/* line 748, ../sass/zenoss.scss */
.x-tip span.x-tip-header-text {
  font-size: 13px;
}

/* line 752, ../sass/zenoss.scss */
.detail-form-panel .x-panel-btns {
  border-top: 1px solid gray;
  background: #f5f9fd url();
}
/* line 755, ../sass/zenoss.scss */
.detail-form-panel .x-form-field, .detail-form-panel .display-field, .detail-form-panel .x-form-cb-label, .detail-form-panel .x-form-item-label, .detail-form-panel .x-fieldset-header-text {
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  color: #5a5a5a;
}
/* line 759, ../sass/zenoss.scss */
.detail-form-panel .x-form-display-field, .detail-form-panel .display-field {
  color: black;
}
/* line 761, ../sass/zenoss.scss */
.detail-form-panel .x-fieldset-header {
  border: medium none;
}
/* line 763, ../sass/zenoss.scss */
.detail-form-panel .x-fieldset-header-text {
  padding-left: 0;
  font-weight: normal;
}

/* line 768, ../sass/zenoss.scss */
.consolebar .xtb-text {
  font-size: 13px;
  margin-top: 1px;
}
/* line 771, ../sass/zenoss.scss */
.consolebar table.x-btn {
  margin-top: 1px;
}
/* line 773, ../sass/zenoss.scss */
.consolebar .xtb-sep {
  height: 25px;
}

/* line 776, ../sass/zenoss.scss */
.detailnav {
  background-color: #D4E0EE;
}
/* line 778, ../sass/zenoss.scss */
.detailnav .x-tree .x-panel-body {
  background-color: #D4E0EE;
}

/* line 782, ../sass/zenoss.scss */
.x-grid3-row-selected span.status-up, .x-grid3-row-selected span.status-down, .x-grid3-row-selected span.status-unknown {
  color: white;
}

/* line 786, ../sass/zenoss.scss */
span.status-up-large, span.status-up, span.status-down-large, span.status-down {
  background: transparent url(/++resource++zenui/img/up-down-sprite.png) 0 0 no-repeat;
}
/* line 788, ../sass/zenoss.scss */
span.status-up, span.status-down {
  padding-right: 18px;
}
/* line 790, ../sass/zenoss.scss */
span.status-up {
  color: green;
  background-position: right -9px;
}

/* line 794, ../sass/zenoss.scss */
.ext-ie span.status-up {
  background-position: right -8px;
}

/* line 797, ../sass/zenoss.scss */
span.status-down {
  background-position: right -40px;
}

/* line 800, ../sass/zenoss.scss */
.ext-ie span.status-down {
  background-position: right -39px;
}

/* line 804, ../sass/zenoss.scss */
span.status-down-large, span.status-down {
  color: #d60000;
}
/* line 806, ../sass/zenoss.scss */
span.status-up-large, span.status-unknown-large, span.status-down-large {
  font-weight: bold;
}
/* line 808, ../sass/zenoss.scss */
span.status-up-large, span.status-down-large {
  display: inline-block;
  margin: 0 auto;
  height: 18px;
  padding-right: 23px;
}
/* line 813, ../sass/zenoss.scss */
span.status-up-large {
  background-position: right -56px;
}
/* line 815, ../sass/zenoss.scss */
span.status-unknown, span.status-unknown-large {
  color: gray;
}
/* line 817, ../sass/zenoss.scss */
span.status-down-large {
  padding-right: 21px;
  background-position: right -86px;
}

/* line 821, ../sass/zenoss.scss */
.ext-ie span.status-up-large, .ext-id span.status-down-large {
  zoom: 1;
}

/* line 825, ../sass/zenoss.scss */
.componenttbar table.x-toolbar-ct {
  margin-top: 3px;
}
/* line 827, ../sass/zenoss.scss */
.componenttbar .xtb-sep {
  height: 18px;
}

/* line 830, ../sass/zenoss.scss */
.device-overview-form {
  padding: 13px;
}
/* line 832, ../sass/zenoss.scss */
.device-overview-form .x-form-display-field, .device-overview-form .display-field {
  color: black;
}

/* line 835, ../sass/zenoss.scss */
.device-overview-form-wrapper {
  border: 1px solid #b7b7b7;
}
/* line 836, ../sass/zenoss.scss */
.device-overview-form-wrapper .x-panel-tl, .device-overview-form-wrapper .x-panel-bl, .device-overview-form-wrapper .x-panel-ml, .device-overview-form-wrapper .x-panel-tr, .device-overview-form-wrapper .x-panel-br, .device-overview-form-wrapper .x-panel-mr, .device-overview-form-wrapper .x-panel-tc, .device-overview-form-wrapper .x-panel-bc, .device-overview-form-wrapper .x-panel-mc {
  background: #fafafa url();
  border: medium none;
}

/* line 842, ../sass/zenoss.scss */
a.z-entity:link, a.z-entity:hover, a.z-entity:visited {
  text-decoration: none;
  padding-right: 15px;
  padding-bottom: 3px;
}

/* line 848, ../sass/zenoss.scss */
.x-grid3 a.z-entity:link, .x-grid3 a.z-entity:visited, .x-grid3 a.z-entity:hover {
  background: none;
  padding-right: 0;
  text-decoration: underline;
}

/* line 854, ../sass/zenoss.scss */
.x-menu a:link, .x-menu a:visited, .x-menu a:hover {
  color: #444;
}

/* line 858, ../sass/zenoss.scss */
.devdetail-devclass a.z-entity:link, .devdetail-devclass a.z-entity:hover, .devdetail-devclass a.z-entity:visited {
  color: #383838;
  padding-right: 0;
  background: none;
}
/* line 862, ../sass/zenoss.scss */
.devdetail-devclass a.z-entity:hover {
  text-decoration: underline;
}

/* line 865, ../sass/zenoss.scss */
.manu-edit-link {
  text-decoration: underline;
  color: #678cbc;
  font-size: 11px;
  padding-left: 5px;
  cursor: pointer;
  text-transform: lowercase;
  position: relative;
  bottom: 1px;
}

/* line 875, ../sass/zenoss.scss */
#breadCrumbPane {
  background: #566d87 none;
  font-size: 11px;
  height: 23px;
  line-height: 23px;
  padding-left: 10px;
  margin: 0px;
  position: relative;
  border-bottom: 1px solid #abc;
}
/* line 884, ../sass/zenoss.scss */
#breadCrumbPane.bc-notabs {
  padding-left: 26px;
}
/* line 886, ../sass/zenoss.scss */
#breadCrumbPane a {
  padding-left: 2px;
  color: #f8f8f8;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  text-decoration: none;
}
/* line 892, ../sass/zenoss.scss */
#breadCrumbPane a:hover {
  text-decoration: underline;
}

/* line 895, ../sass/zenoss.scss */
.joblog-stream-c {
  width: 99%;
  background-color: white;
  border: 2px solid black;
  height: 400px;
  margin: 1em auto;
}

/* line 902, ../sass/zenoss.scss */
.log-output {
  font-family: Monaco,monospace;
  font-size: 14px;
}

/* line 906, ../sass/zenoss.scss */
.report-tree .x-tree-node-leaf .node-text {
  font-weight: normal;
}

/* line 909, ../sass/zenoss.scss */
#page-help {
  position: absolute;
  right: 8px;
  color: #eef;
  font-size: 11px;
  font-family: helvetica,arial,sans-serif;
  cursor: pointer;
}

/* line 917, ../sass/zenoss.scss */
.ext-ie7 #page-help, .ext-border-box .ext-ie #page-help {
  padding-top: 5px;
}

/* line 921, ../sass/zenoss.scss */
#page-level-help-tip li {
  list-style: disc inside;
  padding: 1px 0;
}
/* line 924, ../sass/zenoss.scss */
#page-level-help-tip ul {
  margin: 5px 5px auto;
}
/* line 926, ../sass/zenoss.scss */
#page-level-help-tip p {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* line 930, ../sass/zenoss.scss */
#user-link-container {
  margin-left: 10px;
  padding-left: 10px;
  background: transparent url(/zport/dmd/img/usericon.png) left center no-repeat;
  font-family: helvetica,arial,sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

/* line 938, ../sass/zenoss.scss */
#sign-out-link {
  font-size: 8pt;
  text-transform: uppercase;
  padding-right: 5px;
}

/* line 943, ../sass/zenoss.scss */
.rule-clause {
  background: transparent url();
  border: medium none;
  border-bottom: 1px solid #f2f2f3;
}

/* line 948, ../sass/zenoss.scss */
.nested-rule-header {
  background-color: #f2f2f3;
}

/* line 951, ../sass/zenoss.scss */
.nested-rule {
  background-color: white;
  border-bottom: 1px solid #f2f2f3;
}

/* line 955, ../sass/zenoss.scss */
.rule-clause-container {
  padding-left: 20px;
  border-left: 5px solid #f2f2f3;
}

/* line 959, ../sass/zenoss.scss */
.rule-builder {
  border-right: 2px solid #f2f2f3;
}

/* line 967, ../sass/zenoss.scss */
.x-tree-node img.folder, .x-tree-node-collapsed img.folder {
  background: url("/++resource++extjs/resources/images/default/tree/folder.gif");
}

/* line 970, ../sass/zenoss.scss */
.x-tree-node-expanded img.folder {
  background: url("/++resource++extjs/resources/images/default/tree/folder-open.gif");
}

/* line 975, ../sass/zenoss.scss */
.graph-panel {
  padding: 5px;
}

/* line 978, ../sass/zenoss.scss */
.ext-ie .inspector .inspector-header .header-title .info {
  background: transparent;
}

/* line 983, ../sass/zenoss.scss */
.x-list-body dt {
  color: #383838;
}

/* line 986, ../sass/zenoss.scss */
.multiselect-form-field {
  margin-bottom: 10px;
}
