/* line 4, ../sass/zenui3.scss */
#header {
  height: 75px !important;
}
/* line 7, ../sass/zenui3.scss */
#header .bg .bg-leftcap {
  height: 100%;
  padding-left: 15px;
  background: transparent url(/++resource++zenui/img/header_bg_leftcap.png) top left no-repeat;
}
/* line 11, ../sass/zenui3.scss */
#header .bg .bg-tile {
  height: 100%;
  background: transparent url(/++resource++zenui/img/header_bg_tile.png) top left repeat-x;
}
/* line 14, ../sass/zenui3.scss */
#header .bg .bg-logo {
  float: left;
  height: 45px;
  width: 134px;
  background: transparent url(/zport/dmd/logo.png) 5px 7px no-repeat;
}

/* line 23, ../sass/zenui3.scss */
#primarynav {
  height: 45px;
  line-height: 45px;
  overflow: hidden;
}
/* line 27, ../sass/zenui3.scss */
#primarynav li {
  float: left;
  list-style-type: none;
}
/* line 30, ../sass/zenui3.scss */
#primarynav li a {
  outline: none;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica,sans-serif;
  font-size: 9.5pt;
  padding: 0 5px;
}
/* line 38, ../sass/zenui3.scss */
#primarynav li.nav-item-inactive a {
  color: #fff;
}
/* line 40, ../sass/zenui3.scss */
#primarynav .sd-left {
  padding-left: 8px;
}
/* line 42, ../sass/zenui3.scss */
#primarynav .sd-right {
  padding-right: 8px;
}
/* line 45, ../sass/zenui3.scss */
#primarynav li.nav-item-active a {
  color: #c7c7c7;
  background: transparent url("/++resource++zenui/img/primarynav_sprite.gif") 0 -30px repeat-x;
}
/* line 48, ../sass/zenui3.scss */
#primarynav li.nav-item-active .sd-left {
  background: transparent url("/++resource++zenui/img/primarynav_sprite.gif") 0 -106px no-repeat;
}
/* line 50, ../sass/zenui3.scss */
#primarynav li.nav-item-active .sd-right {
  background: transparent url("/++resource++zenui/img/primarynav_sprite.gif") right -182px no-repeat;
}
/* line 52, ../sass/zenui3.scss */
#primarynav ul {
  margin: 0em;
}

/* line 57, ../sass/zenui3.scss */
#secondarynav {
  height: 30px;
  line-height: 18px;
  padding-top: 6px;
}
/* line 61, ../sass/zenui3.scss */
#secondarynav li {
  float: left;
  list-style-type: none;
  padding: 0 5px;
}
/* line 65, ../sass/zenui3.scss */
#secondarynav li a {
  outline: none;
  display: block;
  text-decoration: none;
  font-family: Helvetica,sans-serif;
  font-size: 9.5pt;
  font-size: 9pt;
  padding-top: 1px;
}
/* line 73, ../sass/zenui3.scss */
#secondarynav li.nav-item-disabled a {
  color: #ccc;
}
/* line 75, ../sass/zenui3.scss */
#secondarynav li.nav-item-inactive a {
  color: #fff;
}
/* line 77, ../sass/zenui3.scss */
#secondarynav li.nav-item-active a {
  color: #454545;
  font-weight: bold;
  background: transparent url("/++resource++zenui/img/secondarynav_sprite.png") 0 -30px repeat-x;
}
/* line 81, ../sass/zenui3.scss */
#secondarynav .sd-left {
  padding-left: 8px;
}
/* line 83, ../sass/zenui3.scss */
#secondarynav .sd-right {
  padding-right: 8px;
}
/* line 86, ../sass/zenui3.scss */
#secondarynav li.nav-item-active .sd-left {
  background: transparent url("/++resource++zenui/img/secondarynav_sprite.png") 0 -77px no-repeat;
}
/* line 88, ../sass/zenui3.scss */
#secondarynav li.nav-item-active .sd-right {
  background: transparent url("/++resource++zenui/img/secondarynav_sprite.png") right -124px no-repeat;
}
/* line 90, ../sass/zenui3.scss */
#secondarynav ul {
  margin: 0em;
}

/* line 95, ../sass/zenui3.scss */
#footer {
  font-size: 8.5pt;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  background: transparent url(/++resource++zenui/img/footer_bg_tile.png) top left repeat-x;
}

/* line 104, ../sass/zenui3.scss */
.placeholder {
  padding: 3em;
  background-color: white;
}
/* line 107, ../sass/zenui3.scss */
.placeholder .inner {
  border-radius: 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 3px dashed #aaa;
  background-color: #f5f9f5;
  text-align: center;
  font-size: 2em;
  color: #aaa;
}
