/**
 * HEADER
 */
#header { height: 75px !important; }

#header .bg .bg-leftcap {
    height: 100%;
    padding-left: 15px;
    background: transparent url(/++resource++zenui/img/header_bg_leftcap.png) 
        top left no-repeat;
}

#header .bg .bg-tile {
    height: 100%;
    background: transparent url(/++resource++zenui/img/header_bg_tile.png) 
        top left repeat-x;
}

#header .bg .bg-logo {
    float: left;
    height: 45px;
    width: 134px;
    background: transparent url(/++resource++zenui/img/header_bg_logo.png) 5px 7px no-repeat;
}

/** 
 * PRIMARY NAVIGATION
 */
#primarynav {
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

#primarynav li {
    float: left;
    list-style-type: none;
}

#primarynav li a {
    outline:none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica,sans-serif;
    font-size: 9.5pt;
}

#primarynav li.nav-item-inactive a { color: #fff; }
#primarynav .sd-left { padding-left: 8px; }
#primarynav .sd-right { padding-right: 8px; }

#primarynav li.nav-item-active a { 
    color: #c7c7c7;
    background: transparent url('/++resource++zenui/img/primarynav_sprite.gif') 
        0 -30px repeat-x;
}
#primarynav li.nav-item-active .sd-left {
    background: transparent url('/++resource++zenui/img/primarynav_sprite.gif') 
        0 -106px no-repeat;
}
#primarynav li.nav-item-active .sd-right {
    background: transparent url('/++resource++zenui/img/primarynav_sprite.gif') 
        right -182px no-repeat;
}
#primarynav ul {
    margin: 0em;
}
/**
 * SECONDARY NAVIGATION
 */
#secondarynav {
    height: 30px;
    line-height: 18px;
    padding-top: 6px;
}

#secondarynav li {
    float: left;
    list-style-type: none;
}

#secondarynav li a {
    outline:none;
    display: block;
    text-decoration: none;
    font-family: Helvetica,sans-serif;
    font-size: 9.5pt;
    font-size: 9pt;
    padding-top: 1px;
}

#secondarynav li.nav-item-inactive a { color: #fff; }
#secondarynav li.nav-item-active a { 
    color: #3b70ab;
    font-weight: bold;
    background: transparent url('/++resource++zenui/img/secondarynav_sprite.png') 
        0 -30px repeat-x;
}

#secondarynav .sd-left {
    padding-left: 8px;
}
#secondarynav .sd-right {
    padding-right: 8px;
}
#secondarynav li.nav-item-active .sd-left {
    background: transparent url('/++resource++zenui/img/secondarynav_sprite.png') 
        0 -77px no-repeat;
}
#secondarynav li.nav-item-active .sd-right {
    background: transparent url('/++resource++zenui/img/secondarynav_sprite.png') 
        right -124px no-repeat;
}
#secondarynav ul {
    margin: 0em;
}

/**
 * FOOTER
 */
#footer { 
    font-size: 8.5pt;
    height: 30px; line-height: 30px; padding: 0 8px;
    background: transparent url(/++resource++zenui/img/footer_bg_tile.png) top left repeat-x;
}


/**
 * TEMPORARY
 */
.placeholder {
    padding: 3em;
    background-color: white;
}

.placeholder .inner {
    border-radius: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px dashed #aaa;
    background-color: #f5f9f5;
    text-align: center;
    font-size: 2em;
    color: #aaa;
}

