@mixin zenoss-tips {
    #page-level-help-tip{
        width:400px !important;
    }
    .#{$prefix}tip {
        background-color:#F8E585 !important;
        .#{$prefix}tool-close, .#{$prefix}tool-over {
            @include zenoss-background-image("qtip/close.png");

        }
        .#{$prefix}tool{
            left: 380px !important;        
        }
    }
    #page-level-help-tip_header, 
    #page-level-help-tip-body, 
    #page-level-help-tip_header-body,
    #page-level-help-tip_header-innerCt,
    page-level-help-tip_header-targetEl{
        width: 395px !important;
    }
    
    // IE FIXES
        .#{$prefix}ie #page-help{
            margin-top:5px;
        }

    .#{$prefix}nbr{
        #page-level-help-tip{
            height:80% !important;
        }
        .#{$prefix}tip-mc {
            background-color:#F8E585;
        }        
        .#{$prefix}tip-tl, .#{$prefix}tip-tr, .#{$prefix}tip-tc, .#{$prefix}tip-ml,
        .#{$prefix}tip-mr, .#{$prefix}tip-bl, .#{$prefix}tip-br, .#{$prefix}tip-bc{
            @include zenoss-background-image("qtip/tip-sprite.png");
        }
        .#{$prefix}tip-tl{
            background-position:0 0 !important;
        }
        .#{$prefix}tip-tr {
            background-position: right 0px !important; 
        }
        .#{$prefix}tip-tc {        
            background-position: 2px -62px !important;
        }
        .#{$prefix}tip-ml {        
            background-position: 0px -124px !important;
        }    
        .#{$prefix}tip-mr {
            background-position: right -124px !important;
        }    
        .#{$prefix}tip-bl {        
            background-position: 0 -59px !important;
        }        
        .#{$prefix}tip-br {      
            background-position: right -59px !important;
        }    
        .#{$prefix}tip-bc {        
            background-position: 0 -121px !important;
        }        
    }
}



@mixin zenoss-flares {
    .#{$prefix}flare {
        div{
            background: transparent;
        }
        width: 100%;
        line-height: 30px;
        height:35px !important;
        color: #282828;
        font-size: 11px;
        padding-left: 15px;
        background: #f6e17b;
        overflow: hidden;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #949494;
        .#{$prefix}tool-close {
            width: 30px;
            height: 30px;
            @include zenoss-background-image("flare/flare-sprite.png");
            background-position: 0 -60px;
            background-repeat:no-repeat;
            position:relative;
            top:-9px !important;
        }    
        .#{$prefix}flare-icon {
            float: left;
            background: url("../img/xtheme-zenoss/icon/severity-sprite.png");
            background-position: 0 -100px;
            background-repeat:no-repeat;      
            width: 16px;
            height: 14px;
            margin-top: 7px;
            margin-right: 5px;
        }
        .#{$prefix}flare-message {
            float: left;
        }
        .#{$prefix}flare-critical .#{$prefix}flare-icon {
            background-position: 0px  0px;
        }
        .#{$prefix}flare-error .#{$prefix}flare-icon {
            background-position: 0px -20px;
        }
        .#{$prefix}flare-warning .#{$prefix}flare-icon {
            background-position: 0px -40px;
        }
        .#{$prefix}flare-info .#{$prefix}flare-icon {
            background-position: 0px -60px;
        }      
        .#{$prefix}flare-success .#{$prefix}flare-icon {
            background-position: 0 -100px;
        }  
        .#{$prefix}flare-debug .#{$prefix}flare-icon {
            background-position: 0px -80px;
        }        
   }


}
