/**
* @class Zenoss.HierarchyTreePanel
*/
@mixin zenoss-searchfield {

    .#{$prefix}field-search {
        .#{$prefix}form-text {
            border-width: 0;
            background-color: transparent;
            background-image: none;
            padding-left: 20px;
            margin-top: 1px;
        }
    }

}
