@mixin zenoss-toolbar {

    @each $ui in ('default', 'large') {
        @include extjs-toolbar-ui(
            $ui,
            $background-color: $toolbar-background-color,
            $background-gradient: $toolbar-background-gradient,
            $border-color: $toolbar-border-color
        );
        .#{$prefix}nlg {
            .#{$prefix}toolbar-#{$ui} {
                @include zenoss-background-image("toolbar/toolbar-#{$ui}-bg.png", true);
            }
        }         
    }   
    .largetoolbar{
        .#{$prefix}btn{
            //top:8px !important;
            //margin-right:6px;
        }   
    }
    .#{$prefix}toolbar{ 
        td, span, input, div, select, label {
          font-size: 11px;
        }    
    }    
    .subselect-head{
        background-image: url("../img/xtheme-zenoss/toolbar/bg-subselect.png");
        line-height: 37px;    
        .#{$prefix}toolbar-text{
            font-weight:bold;
            font-size:13px;
        }        
    }
   
    /* consolebar overrides */
    #NetworkDetailCardPanel{
        .#{$prefix}btn{
            top:3px !important;
        }
        .largetoolbar{
            //height:35px !important;
        }     
    }
    .consolebar .#{$prefix}toolbar-text{
        color: #383838;
        font-family: helvetica,sans-serif;
        font-weight: bold;
        height: 18px; 
        font-size:13px;
    }   
    .#{$prefix}ie{
        #statusitem, #prodstateitem, #priorityitem{
            .devdetail-labelitem{
                line-height:8px !important;
                padding-bottom:3px;
            }
        }
    }    
    #config_property_panel{
        .x-toolbar-text{
            padding-top:6px;
        }
    }
    
    .refreshevery {
        background-color: #474747;
        display: block;
        font-weight: bold;
        height:18px !important;
        margin:2px;
        a{
            display:block;
            height:11px;
            position:relative;
          .#{$prefix}menu-item-text{    
                position:absolute;
                left:3px;
                top:-2px;
                color:white !important;
                height:12px !important;
          }
        }
    }     
    
    #component_card .#{$prefix}box-inner{
        .#{$prefix}btn{
            top:0px !important;
        }
    }
    
}    
    
    
    
