$include-default: true;
$include-ie: true;

$font-size: 12px;
$color:#444;
$font-color:#222;
$font-family: helvetica,arial,sans-serif;
$neutral-color:#ddd !default;
$base-gradient: 'bevel';

$include-missing-images: true;

@import "compass/css3/pie";
@import "compass/css3"; 
@import "compass/support";
@import 'ext4/default/variables';
@import 'styles/variables';
@import 'ext4/default/all';
@import 'styles/zenoss';

@include zenoss-layout;
@include zenoss-hierarchytreepanel;
@include zenoss-searchfield;
@include zenoss-toolbar-button;
@include zenoss-toolbar;
@include zenoss-panel;
@include zenoss-window;

/*
// grid headers NON IE
.x-grid-header-ct, .x-column-header, .x-column-header-over{
        @include background-image(linear-gradient($grid_grad_top, $grid_grad_btm));
}

.x-nlg{
    // leave off the first '.' on the class as compass adds it back. Have to put them on the others in the list though
    
    // grid headers for IE -- see above for other browsers
    @include fix-ie-grad($grid_grad_top, $grid_grad_btm, 
        'x-grid-header-ct,
        .x-column-header,
        .x-column-header-over');

    @include fix-ie-grad($toolbar_grad_top, $toolbar_grad_btm, 
        'x-tab-bar, 
        .x-form-invalid-tip-default-mc'); //x-toolbar-default, .

    // flatten out these areas
    .x-panel-header-default-framed-top-mc,
    .x-panel-header-vertical .x-frame-mc,
    .x-panel-header-default-top,
    .x-panel-header-default-bottom,
    .x-panel-header-default-left,
    .x-panel-header-default-right,
    .x-panel-header-default-right,
    .x-panel-header-default-bottom,
    .x-panel-header-default-framed-top,
    .x-panel-header-default-framed-bottom,
    .x-panel-header-default-framed-left,
    .x-panel-header-default-framed-right,
    .x-panel-default-framed-mc,
    .x-panel-header-default-framed-right-mc,
    .x-panel-header-default-framed-bottom-mc,
    .x-panel-header-default-framed-left-mc,
    .x-panel-header-default-framed-collapsed-top-mc,
    .x-panel-header-default-framed-collapsed-right-mc,
    .x-panel-header-default-framed-collapsed-bottom-mc,
    .x-panel-header-default-framed-collapsed-left-mc{
        background-image: none !important;
        background-color:#666;
    }
}



// =====================================================================================  Masks

.ext-el-mask {
  background-color: #c8cbd0; 
} 

.ext-el-mask-msg {
  border: 1px solid #89a;
  background: #d8dbe0 url('${imgpath}/box/tb-blue.gif') repeat-x 0 -16px;
  div {
    background-color: #eef0f2;
    border: 1px solid #abc;
    color: #222; } 
}

.x-item-disabled * {
  color: #333 !important; 
}

.x-window .x-item-disabled .x-form-cb-label {
  color: #888 !important; 
}

.x-layout-split {
  height: 5px;
  width: 2px;
  background-color: #a5a5a5; 
}

// =====================================================================================  Tab Panels

.x-tab-panel-header, .x-tab-panel-footer {
  background: #6b869f;
  border-color: #4f657b; }

.x-tab-panel-header, .x-tab-panel-footer {
  border-color: #abc; }


ul {
  &.x-tab-strip-top {
    background: #dbdbdb url('${imgpath}/tabs/tab-strip-bg.gif') repeat-x left top;
    border-color: #4c647e;
    padding-top: 7px; }
  &.x-tab-strip-bottom {
    background-image: url('${imgpath}/tabs/tab-strip-btm-bg.gif');
    border-color: #566c82; } }

.x-tab-strip span.x-tab-strip-text {
  color: #333; }

.x-tab-strip-over span.x-tab-strip-text {
  color: #111; }

.x-tab-strip-active span.x-tab-strip-text {
  color: #fff; }

.x-tab-strip-disabled .x-tabs-text {
  color: #aaaaaa; }

.x-tab-strip-top {
  .x-tab-right, .x-tab-left, .x-tab-strip-inner {
    background-image: url('${imgpath}/tabs/tabs-sprite.gif'); } }

.x-tab-strip-bottom {
  .x-tab-right {
    background-image: url('${imgpath}/tabs/tab-btm-inactive-right-bg.gif'); }
  .x-tab-left {
    background-image: url('${imgpath}/tabs/tab-btm-inactive-left-bg.gif'); }
  .x-tab-strip-active {
    .x-tab-right {
      background-image: url('${imgpath}/tabs/tab-btm-right-bg.gif'); }
    .x-tab-left {
      background-image: url('${imgpath}/tabs/tab-btm-left-bg.gif'); } } }

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
  background-image: url('${imgpath}/tabs/tab-close.gif');
  &:hover {
    background-image: url('${imgpath}/tabs/tab-close.gif'); } }

.x-tab-panel-body {
  border-color: #abc;
  background: #fff; }

.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {
  border-color: #abc; }

.x-tab-panel-header-plain .x-tab-strip-spacer, .x-tab-panel-footer-plain .x-tab-strip-spacer {
  border-color: #abc;
  background: #6b869f; }

.x-tab-scroller-left {
  background-image: url('${imgpath}/tabs/scroll-left.gif');
  border-color: #aeaeae; }

.x-tab-scroller-right {
  background-image: url('${imgpath}/tabs/scroll-right.gif');
  border-color: #aeaeae; }

// =====================================================================================  Forms

.x-form-check {
  background: url('${imgpath}/form/checkbox.gif') no-repeat 0 0; }

.x-form-radio {
  background: url('${imgpath}/form/radio.gif') no-repeat 0 0; }

.x-form-check-group-label {
  border-bottom: 1px solid #99bbe8;
  color: #15428b;
  margin-bottom: 5px;
  padding-left: 3px !important;
  float: none !important; }

.x-form-text, textarea.x-form-field {
  border: 1px solid #999;
  //background: white; 
  }

.x-trigger-wrap-focus .x-form-trigger {
  border-bottom: 1px solid #4a7192; }

.x-form-focus, textarea.x-form-focus {
  border: 1px solid #4a7192; }
.x-form-trigger {
    background: url('${imgpath}/form/trigger.gif') no-repeat 0 0;
    border-bottom: 1px solid #778899;
    }
    
  .x-form-date-trigger {
    background-image: url('${imgpath}/form/date-trigger.gif'); }
  .x-form-clear-trigger {
    background-image: url('${imgpath}/form/clear-trigger.gif'); }
  .x-form-search-trigger {
    background-image: url('${imgpath}/form/search-trigger.gif'); }
  .x-form-trigger-over {
    background-position: -17px 0; }
  .x-form-trigger-click {
    background-position: -34px 0; }    

.x-trigger-wrap-focus {
  .x-form-trigger {
    background-position: -51px 0; }
  .x-form-trigger-over {
    background-position: -68px 0; }
  .x-form-trigger-click {
    background-position: -85px 0; } }

.x-form fieldset legend {
  color: #333; }


// =====================================================================================  Grids 

.x-grid-panel .x-panel-mc {
  border: 1px solid #abc; }

.x-grid-row-selected{
  background: $row_selected !important;
  border: 1px dotted #ccc;
  .x-grid-cell {color: white !important;}
  a {color: white !important; }
}


// =====================================================================================  Date Pickers 

.x-date-middle, .x-date-left, .x-date-right {
  background: url('${imgpath}/shared/hd-sprite.gif') repeat-x 0 -83px;
}

.x-date-bottom {
  background: #dfecfb url('${imgpath}/shared/glass-bg.gif') repeat-x scroll left top;
  border-top: 1px solid #abc; 
}

.x-date-right a {
  background-image: url('${imgpath}/shared/right-btn.gif');
}

.x-date-left a {
  background-image: url('${imgpath}/shared/left-btn.gif');
}

.x-date-inner {
  th {
    background: #dfecfb url('${imgpath}/shared/glass-bg.gif') repeat-x left top;
    border-bottom: 1px solid #abc;
    color: #345; }
  .x-date-selected a {
    background: #dfecfb url('${imgpath}/shared/glass-bg.gif') repeat-x scroll left top;
    border: 1px solid #89a; }
  a:hover, .x-date-disabled a:hover {
    background: #faedc0; } 
}

td {
  &.x-date-mp-month a:hover, &.x-date-mp-year a:hover {
    color: #123;
    background: #faedc0; } 
}

.x-date-mp-ybtn a {
  background: transparent url('${imgpath}/panel/tool-sprites.gif') no-repeat;
}

.x-date-mp-btns {
  background: #dfecfb url('${imgpath}/shared/glass-bg.gif') repeat-x scroll left top;
}

td.x-date-mp-sel a {
  background: #dfecfb url('${imgpath}/shared/glass-bg.gif') repeat-x left top;
  border: 1px solid #abc; 
}

.x-date-mp-btns button {
  background: #405574;
  border: 1px solid;
  border-color: #abc #055 #055 #abc; 
}


// =====================================================================================  Layout 

.x-border-layout-ct {
  background: #f0f0f0; }

.x-accordion-hd {
  background-image: url('${imgpath}/panel/light-hd.gif'); }

.x-layout-collapsed {
  background-color: #567;
  border-color: #e0e0e0; }

.x-layout-collapsed-over {
  background-color: #789; }


// =====================================================================================  Menus 

.x-menu-body {
    background:transparent !important;
}

.x-menu{
  border: 1px solid #aaa !important;
  background: #f0f0f0 url('${imgpath}/menu/menu.gif') repeat-y !important;
}

.x-menu-item-active {
  background: #ebf3fd url('${imgpath}/menu/item-over.gif') repeat-x left bottom;
  border: 1px solid #c2cbd2; 
}

.x-menu-item-arrow {
  background: transparent url('${imgpath}/menu/menu-parent.gif') no-repeat right;
}

.x-menu-check-item .x-menu-item-icon {
  background: transparent url('${imgpath}/menu/unchecked.gif') no-repeat center;
}

.x-menu-item-checked {
  .x-menu-item-icon {
    background-image: url('${imgpath}/menu/checked.gif'); }
  .x-menu-group-item .x-menu-item-icon {
    background: transparent url('${imgpath}/menu/group-checked.gif'); }
}

.x-menu-group-item .x-menu-item-icon {
  background: transparent none repeat scroll 0 0; 
}

.x-menu-item-icon {
  &.acknowledge {
    background-image: url('${imgpath}/icon/acknowledge.png'); }
  &.suppress {
    background-image: url('${imgpath}/icon/suppress.png'); }
  &.acknowledge {
    background-image: url('${imgpath}/icon/acknowledge.png'); }
  &.aged, &.cleared, &.closed {
    width: 16px;
    height: 14px;
    background: transparent none no-repeat;
    margin: 0 auto;
    background-image: url('${imgpath}/icon/close-small.png'); }
}

// =====================================================================================  Combos 

.x-combo-list {
  border: 1px solid #89a;
  background: #bdcbd4 none repeat scroll 0 0;
  .x-combo-selected {
    border: 1px dotted #ccc!important;
    background: #fbf0d2; } 
}

.x-resizable-pinned .x-combo-list-inner {
  border-bottom: 1px solid #9ab; 
}

// =====================================================================================  Panels 

.x-panel {
  border-style: solid;
  border-color: #abc;
  border-width: 0; }

.x-panel-header {
  font-family: $font-family;
  color: #fff;
  border: 0px solid #abc;
  background-color: #666;
  box-shadow:none;
  background-image: none;
  overflow: hidden;
  height: 23px;
  padding: 0px;
  line-height: 23px; }

.x-panel-header-text {
  margin: 0px 3px 0px 10px;
  display: block; }

.x-panel-header .desc {
  margin-left: 5px;
  font-weight: normal;
  color: #fff; }

// =====================================================================================  HTML Editors 
.x-html-editor-wrap {
  border-color: #abc; }

.x-html-editor-tb .x-btn-text {
  background: transparent url('${imgpath}/editor/tb-sprite.gif') no-repeat scroll 0%; }

// =====================================================================================  Panel Borders 

.x-panel-noborder {
  .x-panel-body-noborder {
    border-width: 0; }
  .x-panel-header-noborder, .x-panel-tbar-noborder .x-toolbar {
    border-width: 0;
    border-bottom: 1px solid #abc; }
  .x-panel-bbar-noborder .x-toolbar {
    border-width: 0;
    border-top: 1px solid #abc; } }

.x-window-noborder .x-window-mc, .x-window-plain .x-window-body-noborder {
  border-width: 0; }

.x-tab-panel-noborder {
  .x-tab-panel-body-noborder {
    border-width: 0; }
  .x-tab-panel-header-noborder {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0; }
  .x-tab-panel-footer-noborder {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0; } }

.x-tab-panel-bbar-noborder .x-toolbar {
  border-width: 0;
  border-top: 1px solid #abc; }

.x-tab-panel-tbar-noborder .x-toolbar {
  border-width: 0;
  border-bottom: 1px solid #abc; }


// =====================================================================================  Sliders 

.x-slider-horz .x-slider-thumb {
  background: transparent url('${imgpath}/slider/slider-thumb.png') no-repeat 0 0; }

.x-slider-vert .x-slider-thumb {
  background: transparent url('${imgpath}/slider/slider-v-thumb.png') no-repeat 0 0; }

.x-slider-horz {
  .x-slider-thumb-over {
    background-position: -14px -15px; }
  .x-slider-thumb-drag {
    background-position: -28px -30px; } }

.x-slider-vert {
  .x-slider-thumb-over {
    background-position: -15px -14px; }
  .x-slider-thumb-drag {
    background-position: -30px -28px; } }

.x-slider-horz {
  background: transparent url('${imgpath}/slider/slider-bg.png') no-repeat 0 -22px;
  .x-slider-end {
    background: transparent url('${imgpath}/slider/slider-bg.png') no-repeat right -44px; }
  .x-slider-inner {
    background: transparent url('${imgpath}/slider/slider-bg.png') repeat-x 0 0; } }

.x-slider-vert {
  background: transparent url('${imgpath}/slider/slider-v-bg.png') no-repeat -44px 0;
  .x-slider-end {
    background: transparent url('${imgpath}/slider/slider-v-bg.png') no-repeat -22px bottom; }
  .x-slider-inner {
    background: transparent url('${imgpath}/slider/slider-v-bg.png') repeat-y 0 0; } }


// ==========================================================================================  Wizard

.ext-ux-wiz-Header {
  border-bottom: 1px solid #99BBE8; }

.ext-ux-wiz-Header-title {
  font-weight: bold;
  padding: 4px 0px 0px 4px; }

.ext-ux-wiz-Header-step {
  color: #767676;
  text-align: right;
  padding: 2px 4px 0px 0px; }

.ext-ux-wiz-Header-stepIndicator-container {
  float: right;
  margin-right: 6px;
  margin-top: 8px; }

.ext-ux-wiz-Header-stepIndicator {
  margin-left: 28px;
  float: left;
  background-image: url('${imgpath}/toolbar/ext-ux-wiz-stepIndicator.png');
  background-position: 6px 0px;
  background-repeat: repeat-x;
  height: 6px;
  width: 6px; }

.ext-ux-wiz-Header-stepIndicator-active {
  background-position: 0px 0px !important; }

// =====================================================================================  Flares 

.x-flare {
  width: 100%;
  line-height: 30px;
  color: #282828;
  font-size: 11px;
  padding-left: 15px;
  background: rgb(246, 225, 123);
  overflow: hidden;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #949494;
  .x-tool-close {
    width: 30px;
    height: 30px;
    background: url('${imgpath}/flare/flare-sprite.png') no-repeat 0 -60px; }
  .x-flare-header {
    background: url('${imgpath}/flare/flare-sprite.png') no-repeat 0 -31px;
    float: right;
    height: 30px;
    width: 45px; }
  .x-flare-icon {
    float: left;
    background: url('${imgpath}/icon/severity-sprite.png') no-repeat scroll 0 -100px;
    width: 16px;
    height: 14px;
    margin-top: 7px;
    margin-right: 5px; }
  .x-flare-message {
    float: left; }
  .x-flare-critical .x-flare-icon {
    background-position: 0px  0px; }
  .x-flare-error .x-flare-icon {
    background-position: 0px -20px; }
  .x-flare-warning .x-flare-icon {
    background-position: 0px -40px; }
  .x-flare-info .x-flare-icon {
    background-position: 0px -60px; }
  .x-flare-debug .x-flare-icon {
    background-position: 0px -80px; }
  .x-flare-success .x-flare-icon {
    background-position: 0 -100px; } 
}     


// ==========================================================================================  ICONS BTNS


.x-btn-icon {
  .x-btn-center .x-btn-text {
    width: 20px; }
  background: transparent url('${imgpath}/icon/icon-sprite.png') top center no-repeat;
}

.x-btn-icon-text {
  background: transparent url('${imgpath}/icon/icon-sprite.png') top center no-repeat; }

.x-btn-icon .x-btn-icon-small-left button, .x-btn-text-icon .x-btn-icon-small-left button {
  background-image: url('${imgpath}/icon/icon-sprite.png');
}

// =====================================================================================  Toolbars 
.x-btn {
    height: 25px;
    .x-btn-inner{line-height:19px};
}
.x-nbr .x-btn .x-btn-inner{
    line-height:17px !important;
}
.x-nlg .x-toolbar-default{
    background-image:none !important;
    background:#bbb;
    width:300px;
}
.x-toolbar {
    border-color: #abc;
    //@include background-image(linear-gradient($toolbar_grad_top, $toolbar_grad_btm));
    background:#bbb !important;
// ============================== ICON LOCATIONS ========== //    
    .x-btn .add {
    background-position: 0 1px; }
    .x-btn-click .add, .x-btn-over .add {
    background-position: 0 -412px; }
    .x-btn-disabled .add {
    background-position: 0 -826px; } 
    .x-btn .delete {
    background-position: 0 -17px; }
    .x-btn-click .delete, .x-btn-over .delete {
    background-position: 0 -430px; }
    .x-btn-disabled .delete {
    background-position: 0 -842px; }
    .x-btn .set {
    background-position: 0 -35px; }
    .x-btn-click .set, .x-btn-over .set {
    background-position: 0 -448px; }
    .x-btn-disabled .set {
    background-position: 0 -862px; }    
    .x-btn .adddevice {
    background-position: 0 -52px; }
    .x-btn-click .adddevice, .x-btn-over .adddevice {
    background-position: 0 -465px; }
    .x-btn-disabled .adddevice {
    background-position: 0 -878px; }  
    .x-btn .import {
    background-position: 0 -71px; }
    .x-btn-click .import, .x-btn-over .import {
    background-position: 0 -484px; }
    .x-btn-disabled .import {
    background-position: 0 -895px; }   
    .x-btn .export {
    background-position: 0 -89px; }
    .x-btn-click .export, .x-btn-over .export {
    background-position: 0 -502px; }   
    .x-btn-disabled .export {
    background-position: 0 -913px; }   
    .x-btn .configure {
    background-position: 0 -107px; }
    .x-btn-click .configure, .x-btn-over .configure {
    background-position: 0 -520px; }    
    .x-btn-disabled .configure {
    background-position: 0 -931px; } 
    .x-btn .acknowledge {
    background-position: 0 -125px; }
    .x-btn-click .acknowledge, .x-btn-over .acknowledge {
    background-position: 0 -538px; }
    .x-btn-disabled .acknowledge {
    background-position: 0 -949px; }   
    .x-btn .suppress {
    background-position: 0 -143px; }
    .x-btn-click .suppress, .x-btn-over .suppress {
    background-position: 0 -556px; }
    .x-btn-disabled .suppress {
    background-position: 0 -967px; }   
    .x-btn .close {
    background-position: 0 -161px; }
    .x-btn-click .close, .x-btn-over .close {
    background-position: 0 -574px; }
    .x-btn-disabled .close {
    background-position: 0 -985px; }    
    .x-btn .save {
    background-position: 0 -178px; }
    .x-btn-click .save, .x-btn-over .save {
    background-position: 0 -591px; }
    .x-btn-disabled .save {
    background-position: 0 -1002px; }  
    .x-btn .events {
    background-position: 0 -197px; }
    .x-btn-click .events, .x-btn-over .events {
    background-position: 0 -610px; }
    .x-btn-disabled .events {
    background-position: 0 -1021px; } 
    .x-btn .devprobs {
    background-position: 0 -215px; }
    .x-btn-click .devprobs, .x-btn-over .devprobs {
    background-position: 0 -628px; }
    .x-btn-disabled .devprobs {
    background-position: 0 -1039px; }   
    .x-btn .customize {
    background-position: 0 -233px; }
    .x-btn-click .customize, .x-btn-over .customize {
    background-position: -1px -646px; }
    .x-btn-disabled .customize {
    background-position: 0 -1057px; }   
    .x-btn .newwindow {
    background-position: 0 -251px; }
    .x-btn-click .newwindow, .x-btn-over .newwindow {
    background-position: 0 -664px; }
    .x-btn-disabled .newwindow {
    background-position: 0 -1075px; }    
    .x-btn .export2 {
    background-position: 0 -269px; }
    .x-btn-click .export2, .x-btn-over .export2 {
    background-position: -1px -682px; }
    .x-btn-disabled .export2 {
    background-position: 0 -1093px; }
    .x-btn .fullscreen {
    background-position: 0 -287px; }
    .x-btn-click .fullscreen, .x-btn-over .fullscreen {
    background-position: 0 -700px; }
    .x-btn-disabled .fullscreen {
    background-position: 0 -1111px; }
    .x-btn .dashboard {
    background-position: 0 -305px; }
    .x-btn-click .dashboard, .x-btn-over .dashboard {
    background-position: 0 -718px; }
    .x-btn-disabled .dashboard {
    background-position: 0 -1128px; }
    .x-btn .watchlist {
    background-position: 2px -322px; }
    .x-btn-click .watchlist, .x-btn-over .watchlist {
    background-position: 2px -735px; }
    .x-btn-disabled .watchlist {
    background-position: 2px -1145px; }
    .x-btn .slides {
    background-position: 0 -340px; }
    .x-btn-click .slides, .x-btn-over .slides {
    background-position: 0 -753px; }
    .x-btn-disabled .slides {
    background-position: 0 -1163px; }
    .x-btn .lighttable {
    background-position: 0 -358px; }
    .x-btn-click .lighttable, .x-btn-over .lighttable {
    background-position: 0 -771px; }
    .x-btn-disabled .lighttable {
    background-position: 0 -1181px; }
    .x-btn .outline {
    background-position: 0 -376px; }
    .x-btn-click .outline, .x-btn-over .outline {
    background-position: 0 -789px; }
    .x-btn-disabled .outline {
    background-position: 0 -1199px; }
    .x-btn .addslide {
    background-position: 0 -394px; }
    .x-btn-click .addslide, .x-btn-over .addslide {
    background-position: 0 -807px; }
    .x-btn-disabled .addslide {
    background-position: 0 -1217px; }
    .x-btn .classify {
    background-position: 0 -1242px; }
    .x-btn-click .classify, .x-btn-over .classify {
    background-position: 0 -1260px; }
    .x-btn-disabled .classify {
    background-position: 0 -1278px; }
    .x-btn .reopen {
    background-position: 0 -1296px; }
    .x-btn-click .reopen, .x-btn-over .reopen {
    background-position: 0 -1314px; }
    .x-btn-disabled .reopen {
    background-position: 0 -1332px; }
    .x-btn .share {
    background-position: 0 -1350px; }
    .x-btn-click .share, .x-btn-over .share {
    background-position: 0 -1368px; }
    .x-btn-disabled .share {
    background-position: 0 -1386px; }
    .x-btn .unacknowledge {
    background-position: 0 -1404px; }
    .x-btn-click .unacknowledge, .x-btn-over .unacknowledge {
    background-position: 0 -1422px; }
    .x-btn-disabled .unacknowledge {
    background-position: 0 -1440px; }
    .x-btn .collapse {
    background-position: 0 -1458px; }
    .x-btn-click .collapse, .x-btn-over .collapse {
    background-position: 0 -1476px; }
    .x-btn-disabled .collapse {
    background-position: 0 -1494px; }
    .x-btn .expand {
    background-position: 0 -1512px; }
    .x-btn-click .expand, .x-btn-over .expand {
    background-position: 0 -1530px; }
    .x-btn-disabled .expand {
    background-position: 0 -1548px; }
    .x-btn .refresh {
    background-position: 0 -1565px; }
    .x-btn-click .refresh, .x-btn-over .refresh {
    background-position: 0 -1583px; }
    .x-btn-disabled .refresh {
    background-position: 0 -1601px; }
    // ================================= END ICON LOCATIONS ====== //  
    * {font-style:normal;}
    .x-btn .filter {
        background-image: url('${imgpath}/icon/filter.png'); }
    .x-btn-pressed .info, .x-btn-over .info {
        background-image: url('${imgpath}/icon/info-pressed.png'); }
    
    .xtb-sep {
        height: 20px;
        padding: 0 4px;
        background-image: url('${imgpath}/toolbar/tb-sep.png');
    }    
    button, .xtb-text {
        font-family: $font-family;
        color: #383838;
        font-size: 8pt;
        //height: 18px;
        font-weight: bold; 
    }
    &.subselect-head {
        .xtb-text {
              font-family: $font-family;
              color: #474747;
              font-size: 14px;
              //height: 37px;
              //line-height: 32px;
              padding-left: 12px; 
        }
        .x-btn {
              //height: 24px;
              margin-bottom: 7px; 
        }
         button {
            color: #fff; 
        }
    }

    .x-toolbar-text{
      color: #474747;
      font-family: $font-family;
      font-size: 14px;
      font-weight:bold;
      //height: 37px;
      //line-height: 32px;
      padding-left: 12px;
    }
    
    .x-btn-default-small, .x-nbr .x-btn-default-small{
        //height:27px !important; 
        border: 1px solid #777 !important;
        @include border-radius(3px);
        background:#ccc;
        @include pie-behavior;
    }
    .x-btn-over, .over, .x-over, .x-btn-default-small-over, .x-nbr .x-btn-over, .x-nbr .over, .x-over, .x-nbr .x-btn-default-small-over{
        background:#fff; 
    }     
}    

.x-btn-default-toolbar-small, .xfilter-row-arrow button, .x-nbr .x-btn-default-toolbar-small, .x-nbr .xfilter-row-arrow button {
    top:4px !important;
    border: 1px solid #777 !important;
    //height:20px;
    //position:relative;
    //@include pie-element(relative);    
    @include border-radius(3px);
    background:#ddd;   
    cursor:pointer;
    &.x-btn-over, &.over, &.x-over, &.x-btn-default-small-over{
            background:#efefef; 
        }
    @include pie-behavior;
}
.x-nbr .xfilter-row-arrow button {
    height:22px !important;
    margin-top:-5px !important;
}
.x-nbr .x-btn-default-toolbar-small, .x-nbr .xfilter-row-arrow button {
    position:relative;
    padding:2px !important;
    //line-height:19px !important;
}

.x-btn.toright, .x-btn.toleft, .x-nbr .x-btn.toright, .x-nbr .x-btn.toleft{
    border: 1px solid #777 !important;
    background:#c6d2e6;
    @include border-radius(3px);
   // @include background-image(linear-gradient(#c6d2e6, #7d91bb));
    &.x-btn-over, &.over, &.x-over, &.x-btn-default-small-over{
            background:#e6f6f9; 
        }
    @include pie-behavior;
}

.x-btn-default-toolbar-small button, .x-nbr .x-btn-default-toolbar-small button{
    display:block;
    margin-right:3px;
}
.x-btn-arrow {
  background-image: url("${imgpath}/button/arrow.gif");
}

#adddevice-button button, #adddevice-button .adddevice{
    width:18px !important;
}
#device_grid .x-panel-header-default-top {
  box-shadow: none;
}

#detail-toolbar .x-btn{
    top:7px !important;
}
#footer_bar{
   .x-box-inner{
        position:absolute;
        top:-2px;
        left:10px;
        height:30px !important;
    }
}
#master_panel .x-field-default {
    z-index:1000;
    input {
       position:absolute;
       left:30px;
       top:2px;
       background:transparent;
       border: none;
    }
}
#newTabsPane a{
    color:#333366;
}
#NetworkDetailCardPanel .x-toolbar{
    height:40px !important;
}
#organizer_events{
    width:170px;
}
.x-panel-header-text-default{
    color:#ccc;
}


// =====================================================================================  Resizable Handles

.x-resizable-over .x-resizable-handle-east, .x-resizable-pinned .x-resizable-handle-east, .x-resizable-over .x-resizable-handle-west, .x-resizable-pinned .x-resizable-handle-west {
  background: url('${imgpath}/sizer/e-handle.gif');
  background-position: left; }

.x-resizable-over .x-resizable-handle-south, .x-resizable-pinned .x-resizable-handle-south, .x-resizable-over .x-resizable-handle-north, .x-resizable-pinned .x-resizable-handle-north {
  background: url('${imgpath}/sizer/s-handle.gif');
  background-position: top; }

.x-resizable-over .x-resizable-handle-southeast, .x-resizable-pinned .x-resizable-handle-southeast {
  background: url('${imgpath}/sizer/se-handle.gif');
  background-position: top left; }

.x-resizable-over .x-resizable-handle-northwest, .x-resizable-pinned .x-resizable-handle-northwest {
  background: url('${imgpath}/sizer/nw-handle.gif');
  background-position: bottom right; }

.x-resizable-over .x-resizable-handle-northeast, .x-resizable-pinned .x-resizable-handle-northeast {
  background: url('${imgpath}/sizer/ne-handle.gif');
  background-position: bottom left; }

.x-resizable-over .x-resizable-handle-southwest, .x-resizable-pinned .x-resizable-handle-southwest {
  background: url('${imgpath}/sizer/sw-handle.gif');
  background-position: top right; }

.x-resizable-proxy {
  border: 1px dashed #748296; }



.x-column-header {
  border-right: 1px solid #aaa !important;
  border-style: none solid none none;
  border-width: 0 1px 0 0;
  font: 11px tahoma,arial,verdana,sans-serif;
  overflow: hidden;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  color:#eee !important;
}
#navGriddocked-filter, #device_griddocked-filter{
    background:#777;
}

.x-panel-body-default{
    background:transparent;
}

#device_overview {
    background-color: white;
    .x-panel-default-framed {
        background-color: #D7D8DB;
        border: 1px solid #666; 
        @include border-radius(5px);
        .x-panel-body-default-framed{background-color:#D7D8DB;}
    }
}

.largetoolbar {
    background-color: #a6a6a6;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #949494;
    padding-left: 6px;
    .x-btn {
        //height: 26px;
        text-transform: none; 
    }    
    table.x-btn {
       // margin: 0 2px;
       // margin-top: -3px; 
    }    
    button {
        font-family: $font-family;
        color: #383838;
        font-size: 8pt;
        //height: 18px;
        font-weight: bold; 
    }
    &.devdetailbar .x-toolbar-text{
        height:20px !important;
        line-height:20px !important;
    }
  .xtb-sep {
    height: 40px;
    padding: 0 4px;
    background-image: url('${imgpath}/toolbar/tb-sep.png'); }
  &.devdetailbar .xtb-sep {
    height: 50px;
    padding: 0 4px;
    margin-top: 0px;
    background-image: url('${imgpath}/toolbar/tb-sep.png'); }
   #statusitem .devdetail-textitem{
        position:relative;
        top:-10px;
   }
   .devdetail-devname{
        margin-top:10px !important;
   }

}

#organizer_events{
    height:23px !important;
    line-height:23px !important;    
}
#detailrainbow table.eventrainbow{
    position:relative;
    top:5px;
    width:230px !important;
}
.x-statusbar {
  .x-status-text-panel {
    border-color: #9ab #9ab #9ab #9ab; }
  .x-status-text {
    color: #ddc; } 
}

.x-splitter-vertical {
   background-color:#C0CBDB;
}
#device_grid .x-panel-body, #device_grid .x-grid-header-ct{
    border-left:0;
    border-right:0;
}

#device_modeler_plugins{
    background:#d7d8db;
}

.x-panel-default-framed, .x-panel-body-default-framed{
    background:transparent;
}

#triggers_grid_panel, #notification_panel, #schedules_panel, 
#dataSourceTreeGrid, #top_detail_panel, #bottom_detail_panel{
    .x-grid-header-ct{
       top:58px !important
    }
    .x-toolbar .x-box-inner{
       height:30px !important;
    }  
}
#mibbottom{
    .componenttbar .x-toolbar .x-box-inner{
            position:relative;
            top:-6px !important;
       }
    .mibcombobottom{
        top:6px !important;
    }       
}


.white-background-panel{
    font-size: 12px;
    background: none repeat scroll 0 0 #FAFAFA;
    color: #454545;
  
    .x-window-body .x-panel-body {
        background: none repeat scroll 0 0 #FAFAFA;
        color: #454545; }
    .x-form-check-wrap .x-form-field {
        margin-top: 5px; }
    .x-fieldset {
        padding: 0; }
    .x-window-mc {
        padding-top: 2px; }
    .x-item-disabled * {
        color: gray !important; }
    div.xtb-text {
        line-height: 21px;
        font-size: 10pt; }
    .x-box-inner {
        padding-bottom: 15px;
        padding-top: 20px;
        left: -5px; }
    
    .x-panel-header{
        background:#888;
        color:#eee;
    }
    .x-window-header {
        font-size: 12px; 
    }
    .x-window-header-text{
        padding-left:10px;
    }
    .x-box-item{
        top:0 !important;
    }
    .x-btn, .x-form-item{
        top:5px !important;
    }    
    .x-toolbar{
        padding-left:15px;
    }
    .x-form-cb-wrap, .x-column-header-inner, .x-window-header{
        padding-left:10px;
    }
    .x-tab-default, .x-tab-default-top{
        border:0px;
        box-shadow:none;
    }
    .x-tab-active, .x-tab-top-active, .x-tab-default-top-active{
        border:0px;
        background:#fefefe;
        border-bottom-color:#fefefe !important;        
        box-shadow:none;
    }
    .x-tab-bar-body{
        border:0px;
    }
    .x-tab-bar-strip-default, .x-tab-bar-strip-default-plain {
      background-color: #fefefe;
      border-color: #aaa;
    }    
    .x-tab-bar-body .x-box-inner{
        left:0px;
    }
    #notification_content{
        width:590px !important;  
    }
    .x-toolbar{
        @include background-image(linear-gradient($toolbar_grad_top, $toolbar_grad_btm));
    }    
    #trigger_rule{
        .x-toolbar{
            background:transparent;
            border-bottom:solid 1px #ccc;
        }
    }
}

#users_rule{
    .x-panel{
        padding-bottom:5px;
    }
    #users_combo{
        top:5px !important;
    }
}
#device_graphs .graph-panel{
    minHeight:180px;
}
.refreshevery{
    height:25px !important;
    .x-menu-item-text{
        color:#eee !important;
        position:relative;
        top:-7px;left:-6px;
    }
}
#backcompat-layout-panel .tabletitle_layout{
    position:relative;
    top:-8px;
}
#footer_bar{
    .x-tree-node-icon{
        top:8px !important;    
    }
    .tree-template-icon-bound-span {
        background-position: 0 -99px !important;
    }
    .tree-template-icon-component-span {
        background-position: 0 -79px !important;
    }
}

.dialog_container{ 
// those old dialog boxes -- make em look as much like the new one as possible
    border-color:#333 !important;
    .dbox_ml, .dbox_bl{border-left:1px solid #333;}
    .dbox_mr, .dbox_br{border-right:1px solid #333;}
    .dbox_bl{border-bottom:1px solid #333;}
    #dialog_content{
        color:#000 !important;
    }
    .x-body, .dbox_ml, .dbox_mr, .dbox_mc, .dbox_bl,
    .dbox_tl, .dbox_tr, .dbox_tc, .dbox_bc, .dbox_br{
        background-image:none;
        background-color:$dialog_bgcolor !important;
    }
    .dbox_tc h2{
        position:relative;
        top:2px;
    }
    .dbox_tl, .dbox_tr, .dbox_tc{
        @include background-image(linear-gradient(#999, #111));
        height:32px;        
    }
    #dialog_buttons input{
        cursor:pointer;
        height:27px !important;
        padding-left:5px;
        padding-right:5px;
        border: 1px solid #777;
        @include border-radius(3px);
        @include background-image(linear-gradient(#ddd, #999)); 
        &:hover{
             @include background-image(linear-gradient(#fff, #ccc));
        }
    }  
}

.x-boundlist-selected{ 
// force other grids to behave like the infrastructure and events
    background:$row_selected !important;
}










// Window dialogs

.x-window{  
    .x-window-header-default-top { 
        box-shadow:none;
        @include background-image(linear-gradient(#999, #111));
        height:32px;
    }   
    .x-toolbar{
        background:transparent; // make toolbar on dialog same color as bg
    }   
}
.x-nbr {
    @include fix-ie-grad(#999, #111, 'x-window-header-default-top');
    .x-window-header-default-top{
        padding:1px 5px 0 5px !important;
        height:34px !important;      
        font-weight:bold;
    }
}
.x-nlg .x-window-header-default-top-mc{
    background:transparent;
}
.x-window-mc {
  font-family: $font-family;
  color: #fafafa;
  font-size: 12px; 
}

.x-nbr .x-window-default{
    background:#aaa;
    //padding:5px 5px 5px 7px !important;
    .x-panel-body{
        margin:10px;
    }     
}

.x-nlg .x-window-default-mc{
    background:transparent;
}
.x-nlg .x-window-default-mc{
    background:transparent;
    //remove this from the msie filter at the top along with the other window entries
}
.x-window-body-plain{background:transparent;}

.x-nlg .x-window-header {
    height: 44px; 
}

.x-window-header .x-tool-close {
  background: transparent url('${imgpath}/window/close-button.png') no-repeat; }

.x-panel-btns-ct {
  padding: 10px; 
}
.x-window-ghost{
    // had a margin that needs to be gone -- or padding pushing it in.
    margin:0px;
}
*/
