$include-default: true;
$include-ie: true;

$font-size: 12px;
$color:#444;
$font-color:#222;
$font-family: helvetica,arial,sans-serif;
$neutral-color:#ddd !default;
$base-gradient: 'bevel';

$include-missing-images: true;

@import "compass/css3/pie";
@import "compass/css3"; 
@import "compass/support";
@import 'ext4/default/variables';
@import 'styles/variables';
@import 'ext4/default/all';
@import 'styles/zenoss';

@include zenoss-layout;
@include zenoss-hierarchytreepanel;
@include zenoss-searchfield;
@include zenoss-toolbar-button;
@include zenoss-dialog-button;
@include zenoss-default-button;
@include zenoss-arrowslide-button;
@include zenoss-toolbar;
@include zenoss-panel;
@include zenoss-window;
@include zenoss-grid;   
@include zenoss-tips; 
@include zenoss-form;
   

/*
CORE TRIGGER PAGE STUFF
*/  

.white-background-panel {
    font-size: 12px;
    background : none repeat scroll 0 0 #FAFAFA;
    color: #454545;  
}

.white-background-panel .x-window-header {
    font-size: 12px;
}

.white-background-panel .x-window-mc {
    padding-top: 2px;
}

.white-background-panel .x-item-disabled * {
    color: gray !important;
}

.white-background-panel div.xtb-text {
    line-height: 21px;
    font-size: 10pt;
}

.white-background-panel .x-box-inner {
    padding-bottom: 15px;
    padding-top: 20px;
    left: 0 !important;
}

.white-background-panel .x-window-body .x-panel-body {
    background : none repeat scroll 0 0 #FAFAFA;
    color: #454545;
}

.white-background-panel .x-form-check-wrap .x-form-field {
    margin-top: 5px;
}

.white-background-panel .x-fieldset {
    padding: 0;
}

/* top search button sprite */
#searchbox-container{ 
    .x-form-trigger {
        background-image: url('../img/xtheme-zenoss/form/trigger.gif');
    }
    .searchfield-black{
        height:21px;
        overflow:hidden;
    }     
}
#footer_bar{
    border:none !important;
}

/* annoying blue bar on the add single device dialog - preventHeader in ext is ignored */
#add_attrs .x-panel-header-default {
    display: none;
}
// this has to be here - IE cascade
#master_panel-header{
    background-image: url("../img/ext4/toolbar/blue-header-bg.png") !important;
    background-repeat:repeat-x;
}

