body {
    /*background: #fff url(../images/bg_app.gif) repeat-y 8.6em 0em;*/
    color: black;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-size:  9pt;
    margin: 0px;
    /*margin: 0px 3px 3px 3px;*/
}

input,textarea {
    font-size: 9pt;
}

#frame {
    /*
    position: relative;
    */
}

#topPane{
    width:100%;
	background: #fff;
	height: 40px;
    padding-left:0px;
    padding-right:10px;
	border: 0px solid red;
	margin: 0px;
	background: #fff url(bg_topPane.gif) repeat-y right top;
}

#logo {
    padding:0;
    margin:0;
}

#logo a { padding:0; margin:0;}

td.logo {
width: 190px;
height: 35px;

}      
td.search {
    padding-left: 8px;
}   
/*   ADDED BY JM OCTOBER 24 2006 --- */

#settings { vertical-align: bottom; width: 22em;}

#settings div.menu {
	background: url(header_tab_right.gif) 
	right top; 
	height: 28px; width: 22em; 
	margin: 0px 10px 0px auto; 
	padding: 0px 10px 0px 0px; 
	text-align: center; 
	border: 0px solid red;
}

#settings div.menu a{ color:#fff; text-decoration: none; line-height: 28px; text-decoration: none;}

#settings div.menu a:hover {text-decoration: underline;}

#settings div.menu span { padding: 0px 5px 0px 5px;}

/* END NEW BY JM --*/


#topPane form{
    margin:0;
    padding:0;
}
#settings {
	color: white;
    /*
    font-size: .8em;
    */
    font-size: 7pt; 
    margin:0;
    text-align:right;
    /*padding-right: 20px;*/
}
#topPane a{
	color: white;
}
#leftPane {
    position: absolute;
	left: 0px;
    margin: 5px 0px 0px 5px;
    padding: 25px 0px 0px 0px;
	width: 8.2em;
	border: 0px solid red;
}
#leftPane p {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-weight: bold;
    border-bottom: 1px solid #5a6f8f;
    color: #5a6f8f;
}

#leftPane ul {
    list-style: none; 
    margin: 0px 0px 10px 0px; 
    padding: 0px; 
	
}

#leftPane ul li {
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
#leftPane ul li a {
    text-decoration: none;
    display: block;
    padding: 3px 0px 3px 3px;
    margin: 0px;
	height: 1em;
	
}
	
#leftPane ul li a:hover {
    color: white;
    background: #5a6f8f;

}

#leftPane ul li a.selected {
    color: black;
    background: #b1bcd2;
    text-decoration: none;
    display: block;
    margin: 0px;
}

#leftPane ul li a.selected:hover {
    color: white;
    background: #5a6f8f;
}
#rightPane
{
    /*
    position: absolute;
    left: 7.9em;
    right:0;
    margin-left: 7.9em;
    float:right;
    */
    padding: 5px;
	margin-left: 8.6em;
    /*margin-top: 5px;*/
    background: #b1bcd2 url(breadcrumb_left_curve.gif) no-repeat left top;
}

/*#rightPane table {margin-left: 5px; }*/
#breadCrumbPane
{
	color: black;
	font-size: 9pt;
	padding-bottom: 5px;
	padding: 0px 0px 5px 5px;
	margin: 0px;
	font-weight: bold;
	border: 0px solid red;
}

#breadCrumbPane a
{
	color: inherit;
	font-size: inherit;
/*	background: inherit;
*/	font-weight: inherit;
}

#tabsPane
{
}

#contentPane
{
	padding: 5px;
	background: #E0E0E0;
    min-height: 400px;
	/*
	border-left: 5px solid #b1bcd2 ;
	border-bottom: 5px solid #b1bcd2 ;
	border-right: 5px solid #b1bcd2 ;
	*/
}
a:link {
    color: #000040;
}

a:visited {
    color: #000040;
}

a:active {
    color: #777777
}

a:hover {
    color:  #000000;
}

@media print{
    #topPane, #leftPane, #tabsPane { display: none }
    #rightPane { margin-left: 5px;  }
}

form {
    margin-bottom:0;
    border:0;
    margin:0;
}

table.tabtable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal; 
	height: 23px;
	margin: 0px;
	padding: 0px;
    width: 100%;
}

table.tabtable td{
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: top;
	text-align: center;
	background: #5a6f8f url(tab_left.gif) no-repeat left top;
}

table.tabtable td.tabletitleselected {
    color: #333333;
	display: block;
	border-right: 2px solid #b1bcd2;
    height:23px;
    font-size:8pt;
	line-height: 20pt;
	background: #E0E0E0 url(tab_left_selected.gif) no-repeat left top;

}

table.tabtable td.tabletitleselected a {
    color: #333333;
	display: block;
    height:23px;
    font-size:8pt;
	line-height: 20pt;
	background: url(tab_right_selected.gif) no-repeat right top;

}



table.zentable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    width: 100%;
    font-weight: normal; 
	margin: 0px;
	padding: 0px;
    background-color: #FFFFFF;
	border-top: 1px solid #b1bcd2;
	border-left: 1px solid #b1bcd2;
	border-bottom: 1px solid #b1bcd2;
	border-right: 1px solid #b1bcd2;
}
.navcontrol {
    margin-bottom:0;
    border:0;
    margin:0;
    padding:0;
    font-size: 7pt;
}

.errortitle {

    font-size: 10pt;
    font-weight: bold; 
    color: #ff0000;
    background-color: #CCCCCC;
}

a.tabletitle {  
	display: block;
	color: white;
	border-right: 2px solid #b1bcd2;
	text-decoration: none;
	margin: 0px;
    height:23px;
    font-size:8pt;
	line-height: 20pt;
	background: url(tab_right.gif) no-repeat right top;

}
a.tabletitle:link {  
    color: white;
}
a.tabletitle:visited {  
    color: white;
}
a.tabletitle:active {  
    color: #777777;
}
a.tabletitle:hover {  
    color: #000000;
    color: #AAAAAA;
}

th.tabletitle {
    color: white;
    background-color: #5a6f8f;
    background-image: url(subtitle_bkgrd.gif);
    background-repeat: repeat-X;
    text-align: left;
    font-weight: normal;
}
.tabletitleselected { 
    color: #333333;
    background-color: #E0E0E0;
    /*font-weight: bold; */
	display: block;
	border-right: 2px solid #b1bcd2;
	padding: 2px 0px 0px 0px;
    height:25px;
    /*
    font-size:.9em;
    */
    font-size:8pt;
}

a.tabletitleselected:link {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:visited {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:active {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:hover {  
    color: #000000;
}

.tableheader { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #CCCCCC;
    font-weight: normal; 
    text-align: left;
    /*
    font-size:.9em;
    */
    font-size:8pt;
}
.tableheaderselected { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #999999;
    font-weight: normal; 
    text-align: left;
}
.statusbar { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    color: #000000;
    background-color: #E0E0E0;
}
.tablevalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000040; 
    font-weight: normal; 
    background-color: #EEE;
}
td.tablevalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000040; 
    font-weight: normal; 
    background-color: #EEE;
}
a.tablevalues:link {  
    color: #000040;
}
a.tablevalues:visited {  
    color: #000040;
}
a.tablevalues:hover {  
    color: #000000;
}
a.tablevalues:active {  
    color: #777777;
}
.errorvalues {
    font-weight: bold;
    color: #ff0000;
    background-color: #EEE;
}
.statusvalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.dpDiv {
	}

.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: .9em;
    */
    font-size: 8pt;
	text-align: center;
    color: #000040; 
    background-color: #EEE;
	border: 1px solid #5a6f8f;
	}

.dpTR {
	}

.dpTitleTR {
	}

.dpDayTR {
	}

.dpTodayButtonTR {
	}

.dpTD {
	cursor: pointer;
	}

.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #5a6f8f;
	cursor: pointer;
	}

.dpTitleTD {
	}

.dpButtonTD {
	}

.dpTodayButtonTD {
	}

.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #5a6f8f;
	color: white;
	}

.dpTitleText {
    /*
	font-size: .9em;
    */
    font-size: 8pt;
	color: black;
	}

.dpDayHighlight {
	color:  #5a6f8f;
	font-weight: bold;
	}

.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: 10px;
    */
	font-size: 7pt;
    color: #000000;
	background: #CCCCCC;
	padding: 0px;
	}

.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: 10px;
    */
	font-size: 7pt;
    color: #000000;
	background: #CCCCCC;
	}

