
body {
    /*background: #fff url(../images/bg_app.gif) repeat-y 8.6em 0em;*/
    color: black;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-size:  9pt;
    margin: 0px;
    /*margin: 0px 3px 3px 3px;*/
}

input,textarea {
    font-size: 9pt;
}

#frame {
    /*
    position: relative;
    */
}

#topPane{
	background: #fff;
	height: 40px;
    padding-left:0px;
    padding-right:10px;
	border: 0px solid red;
	margin: 0px;
	background: #fff url(bg_topPane.gif) repeat-y right top;
}

#logo {
    padding:0;
    margin:0;
}

#logo a { padding:0; margin:0;
}

div.logo {
    background: transparent url('logo.gif') top left no-repeat;
    padding-left: 180px;
color: #98a7c3;
padding-top: 1px;
vertical-align: middle;
position: absolute;
top: 5px;
left: 5px;
font-size: 24px;
font-weight: 400;
font-variant: small-caps;
height: 42px;
line-height: 42px;
}      

/* ======SEARCH AND NAV TOP RIGHT====== */
#settings { 
    background: transparent url(settingsbox_bg.gif) repeat-x;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3000px;
    height: 50px;
    padding: 0pt;
}

#settings div.settingsleftcorner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 7px;
    height: 51px;
    background: white url(settingsbox_bg_left.gif) no-repeat;
}


#settings ul {
    list-style-type: none;
    margin-right: 200px;
    height: 45px;
    margin-left: 0px;
}

#settings ul li {
    display: inline;
    border-right: 1px inset white;
    font-size: 10pt;
    padding: 0px 10px;
}
#settings ul li {
    font-variant: small-caps;
    text-decoration: none;
}

#settings div.searchbox {
    background: transparent url('search_box_bg.gif') 5px 5px no-repeat;
    width: 183px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%
}
#settings div.searchbox input[type="text"]{
    background: transparent none no-repeat;
    border: medium none;
    margin-top: 12px;
    margin-left: 40px;
    color: #444;
    width: 100px;
}


/* ===================================== */


#topPane form{
    margin:0;
    padding:0;
}
#topPane a{
	color: white;
}
#leftPane {
    position: absolute;
    z-index: 999;
	left: 0px;
    margin: 25px 0px 0px 5px;
    padding: 5px 0px 0px 0px;
	width: 8.6em;
	border: 0px solid red;
}
#leftPane p {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-weight: bold;
    border-bottom: 1px solid #5a6f8f;
    color: #5a6f8f;
}

#leftPane ul {
    list-style: none; 
    margin: 0px 0px 10px 0px; 
    padding: 0px; 
	
}

#leftPane ul li {
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
#leftPane ul li a {
    text-decoration: none;
    display: block;
    padding: 1px 0px 1px 3px;
    margin: 0px;
}
	
#leftPane ul li a:hover {
    color: white;
    background: #5a6f8f;

}

#leftpane ul li a.selected  {
    color: black;
    background: #b1bcd2;
    text-decoration: none;
    display: block;
    margin: 0px;
}

#leftPane ul li a.selected:hover {
    color: white;
    background: #5a6f8f;
}
#rightPane
{
    /*position: absolute;
    left: 7.9em;
    right:0;
    margin-left: 7.9em;
    float:right;
    */
    padding: 5px;
	margin-left: 9.0em;
    /*margin-top: 5px;*/
 /*   background: #b1bcd2 url(breadcrumb_left_curve.gif) no-repeat left top;*/
 
}

/*#rightPane table {margin-left: 5px; }*/
#breadCrumbPane
{
	color: black;
	font-size: 10pt;
    padding-top: 0px;
	padding-bottom: 0px;
    padding-left: 15px;
	margin: 0px;
	font-weight: bold;
	border: 0px solid red;
}

#breadCrumbPane a
{
	color: inherit;
	font-size: inherit;
/*	background: inherit;
*/	font-weight: inherit;
    text-decoration: none;
}
#breadCrumbPane a:hover
{
    text-decoration: underline;
}

#tabsPane
{
}

#contentPane
{
	padding: 5px 15px;
	background: #E0E0E0;
    min-height: 400px;
    border: 1px solid black;
	/*
	border-left: 5px solid #b1bcd2 ;
	border-bottom: 5px solid #b1bcd2 ;
	border-right: 5px solid #b1bcd2 ;
	*/
}
a:link {
    color: #000040;
}

a:visited {
    color: #000040;
}

a:active {
    color: #777777
}

a:hover {
    color:  #000000;
}

@media print{
    #topPane, #leftPane, #tabsPane { display: none }
    #rightPane { margin-left: 5px;  }
}

form {
    margin-bottom:0;
    border:0;
    margin:0;
}

table.tabtable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold; 
	height: 23px;
	margin: 0px;
	padding: 0px;
}

table.tabtable td {
	margin: 0px;
	text-align: center;
    vertical-align: bottom;
}

table.tabtable td a.tabletitle {
    display: block;
    padding: 0px 15px;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-top: 1px solid black;
	background: transparent url(titlebar_bg.gif) repeat-x bottom left;
    height: 23px;
}
table.tabtable td a.tabletitle:hover {
	background: transparent url(titlebar_bg_depressed.gif) repeat-x bottom left;
}

table.tabtable td.contextmenutab a.tabletitle {
    width: 53px;
    height: 25px;
    padding: 0pt;
    border-top: 0pt;
    border-right: 0pt;
    margin-bottom: -1px;
    margin-left: -1px;
    background-image: url('contextmenu_tab.gif');
}
table.tabtable td.contextmenutab a.tabletitle:hover {
    background-image: url('contextmenu_tab_depressed.gif');
}

table.tabtable td.tabletitleselected  {
    color: #333333;
    height:32px;
    font-size:8pt;
    padding: 0px;
    border: 0px;
	line-height: 26px;
    width: 101px;
	background: transparent url(tab_bg_selected.gif) no-repeat bottom left;
}

table.tabtable td.tabletitleselected a,
table.tabtable td.tabletitleselected a:visited, 
table.tabtable td.tabletitleselected a:link   {
    color: black;
	display: block;
    padding: 0pt;
    border: 0pt;
    width: 100%;
    height: 100%;
    font-size:10pt;
	line-height: 34px;
    background: none;
}



table.zentable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: normal; 
	margin: 0px;
	padding: 0pt;
    background-color: #E0E0E0;
}

tbody.zentablecontents tr {
    border-left: 2px solid red;
}
.navcontrol {
    margin-bottom:0;
    border:0;
    margin:0;
    padding:0;
    font-size: 7pt;
}

.errortitle {

    font-size: 10pt;
    font-weight: bold; 
    color: #ff0000;
    background-color: #CCCCCC;
}

a.tabletitle {  
	display: block;
	color: white;
	text-decoration: none;
	margin: 0px;
    height:26px;
    font-size:8pt;
	line-height: 26px;
    z-index: 3000;

}

#selectedtablinehider {
    width: 99px;
    background-color: #E0E0E0;
    height: 3px;
    z-index: 2999;
    position: absolute;
    margin-top: -2px;
    margin-left: 1px;
}

a.tabletitle:link {  
    color: white;
}
a.tabletitle:visited {  
    color: white;
}
a.tabletitle:active {  
    color: #777777;
}
a.tabletitle:hover {  
    color: #000000;
    color: #AAAAAA;
}

th.tabletitle {
    height: 25px;
    line-height: 25px;
    background: transparent url('titlebar_bg.gif') repeat-x top;
    color: white;
    padding: 0pt;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0px;
    padding-right: 0pt;
    text-align: left;
    z-index: 1999;
}

div.tabletitlecontainer {
    width: 100%;
    position: relative;
    z-index: 2000;
    height: 2em;
    padding: 0pt;
    margin: 0pt;
}

.tabletitlecontainer .rightcorner,
.tabletitlecontainer .leftcorner {
    position: absolute;
    bottom: 0px;
    z-index: 2005;
}

.tabletitletext {
    margin-left: 52px;
    font-weight: bold;
    font-size: 10pt;
}

.tabletitlecontainer .leftcorner {
    left: 0px;
    background: #E0E0E0 url('titlebar_left_corner.gif') bottom left no-repeat;
    width: 52px;
}
.tabletitlecontainer .rightcorner {
    right: 0px;
    background: #E0E0E0 url('titlebar_right_corner.gif') bottom left no-repeat;
    width: 52px;
}

.tabletitleselected { 
    color: #333333;
    background-color: #E0E0E0;
    /*font-weight: bold; */
	display: block;
	border-right: 2px solid #b1bcd2;
	padding: 2px 0px 0px 0px;
    height:25px;
    /*
    font-size:.9em;
    */
    font-size:8pt;
}

a.tabletitleselected:link {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:visited {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:active {  
    color: #333333;
    text-decoration: none;
}
a.tabletitleselected:hover {  
    color: #000000;
}

.tableheader { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #CCCCCC;
    font-weight: normal; 
    text-align: left;
    /*
    font-size:.9em;
    */
    font-size:8pt;
}
.tableheaderselected { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #999999;
    font-weight: normal; 
    text-align: left;
}
.statusbar { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    color: #000000;
    background-color: #E0E0E0;
}
.tablevalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000040; 
    font-weight: normal; 
    background-color: #EEE;
}
td.tablevalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000040; 
    font-weight: normal; 
    background-color: #EEE;
}
a.tablevalues {
    background-color: transparent;
}
a.tablevalues:link {  
    color: #000040;
}
a.tablevalues:visited {  
    color: #000040;
}
a.tablevalues:hover {  
    color: #000000;
}
a.tablevalues:active {  
    color: #777777;
}
.errorvalues {
    font-weight: bold;
    color: #ff0000;
    background-color: #EEE;
}
.statusvalues {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.dpDiv {
	}

.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: .9em;
    */
    font-size: 8pt;
	text-align: center;
    color: #000040; 
    background-color: #EEE;
	border: 1px solid #5a6f8f;
	}

.dpTR {
	}

.dpTitleTR {
	}

.dpDayTR {
	}

.dpTodayButtonTR {
	}

.dpTD {
	cursor: pointer;
	}

.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #5a6f8f;
	cursor: pointer;
	}

.dpTitleTD {
	}

.dpButtonTD {
	}

.dpTodayButtonTD {
	}

.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #5a6f8f;
	color: white;
	}

.dpTitleText {
    /*
	font-size: .9em;
    */
    font-size: 8pt;
	color: black;
	}

.dpDayHighlight {
	color:  #5a6f8f;
	font-weight: bold;
	}

.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: 10px;
    */
	font-size: 7pt;
    color: #000000;
	background: #CCCCCC;
	padding: 0px;
	}

.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    /*
	font-size: 10px;
    */
	font-size: 7pt;
    color: #000000;
	background: #CCCCCC;
	}

/* ALTERNATING ROWS */
.odd,
.odd a.tablevalues,
.odd td.tablevalues { background-color:#dedeff }

.rainbow {
    padding:0px;
    margin:0px;
}

.sortable_item {
    cursor:move;
    padding-bottom:3px;
    padding-top: 3px;
    font-weight:bold;
}
.sortable_item fieldlist {
    color: darkgrey;
}
.sortable_item:hover {
    background-color: #EFE;
}
.sortable_list {
    border: 1px inset darkgrey;
    list-style-type:none;
    height:10em;
    margin-top:0.5em;
    height: 150px;
    overflow:auto;
    padding:0.5em;
    padding-left:1em;
}

.invisible {
    display: none;
}

#paneToggle {
    float:left;
    z-index: 1000;
    cursor: pointer;
}

@import url('filterbox.css');
@import url('menus.css');

