.toolbarContainer {
	border-bottom : 0;
	/*background-color : rgb(181,208,234);*/
	color : ButtonText;
	font : Menu;
}

.toolbar {
	padding : 2px 4px;
	min-height : 26px;
	_height : 26px;
}

.toolbarItem {
	float : left;
	padding : 1px 2px;
	margin : 0 2px 1px 0;
	cursor : pointer;
	border : 1px solid transparent;
}

.toolbarItem.selected, .toolbarItem.down {
	margin : 1px 1px 0 1px;
	border-color : #bbf;
	background-color : #fafaff;
}

.toolbarButton img {
	vertical-align : bottom;
}

.toolbarButton span {
	line-height : 19px;
	vertical-align : top;
}

.toolbarButton.hover {
	border-color : #eef;
}

.toolbarItem.disabled {
	opacity : 0.3;
	filter : alpha(opacity=30);
	cursor : default;
}

.toolbarSeparator {
	cursor : default;
}

.toolbarFlexibleSpace {
}
