.filterbox {
    background: transparent url('filter_box_bg.gif') no-repeat 0px 0px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    width: 126px;
    top: 3px;
    padding-top: 5px;
    right: 60px;
}

.filterbox input[type="text"] {
    background: transparent none no-repeat; 
    border: medium none;
    color: #444;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    padding-left: 10px;
    text-align:center;
    height: 24px;
}

div.tabletitlecontainer {
    width: 100%;
    height: 100%;
    position: relative;
}
