#menuBlock {
    position:relative;
    float:right;
    width: 12em;
    z-index: 2000;
}
.contextmenu * ,
.littlemenu * {
    padding: 0;
    margin:0;
    font-weight: normal;
}
.littlemenu,
.contextmenu {
    position: relative;
    cursor:pointer;
}
.littlemenu {
    top: 3px;
}
td.contextmenutab {
    width: 176px;
}
.contextmenubutton {
    display: inline;
    min-width: 5em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    float:right;
    margin-right:10px;
    background-color: #E0E0E0;
    border: 1px solid #5A6F8F;
    border-bottom-width: 0px;
}

.devmovemenuitems,
.contextmenuitems {
    position: absolute;
    right: 2px;
    width: 172px;
    top: 22px;
    z-index: 3000;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.menu_bottom {
    background: transparent url('menu_bottom.gif') bottom left no-repeat;
    position: absolute;
    bottom: 0px;
    left: -2px;
    height: 20px;
    z-index: 2000;
    width: 174px;
}
div.menu_top {
    background: transparent url('menu_top.gif') top left no-repeat;
    position: absolute;
    top: 0px;
    left: -2px;
    height: 20px;
    z-index: 2000;
    width: 174px;
}

.devmovemenuitems {
    top: -3px;
    right: 0px;
}
ul.zenMenu {
    list-style-type: none;
    border-left: 1px solid #5A6F8F;
    border-right: 1px solid #5A6F8F;
    width: 172px;
    position: relative;
    left: -2px;
    z-index: 2001;
    background-color: #666;
}
ul.zenMenu li a {
    padding-left: 1em;
    text-align: justify;
    text-decoration: none;
    display:block;
    color: white;
    padding: 5px;
    height: 100%;
}
ul.zenMenu li {
    border-bottom: 1px dotted grey;
    line-height: 2em;
}
ul.zenMenu li a:hover {
    background-color: #DEDEFF;
    color: black;
}

div.menuselected {
}

div.devmovemenu {
    width: 52px;
    color: white;
    text-align:left;
    z-index: 2007;
    border-left: 1px inset #666;
    padding: 0px;
    margin: 0px;
    position:absolute;
    text-align: center;
    right:0px;
    bottom:3px;
    height:32px;
    line-height: 32px;
    float: right;
    background: #E0E0E0 url('actions_button.gif') no-repeat;
}

div.devmovemenu span {
    line-height: 2.5em;
    margin-left: 3em;
}

div.devmovemenu:hover {
    background: #E0E0E0 url('actions_button_depressed.gif') no-repeat;
}

/* IE HACKS */

* html .contextmenubutton {
    width: 5em;
}
* html .contextmenuitems {
    top: 22px;
}
