#menuBlock {
    position:relative;
    float:right;
    width: 12em;
    z-index: 2000;
}
.contextmenu * ,
.littlemenu * {
    padding: 0;
    margin:0;
    font-weight: normal;
}
.littlemenu,
.contextmenu {
    position: relative;
    cursor:pointer;
}
.contextmenubutton {
    display: inline;
    min-width: 5em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    float:right;
    margin-right:10px;
    background-color: #E0E0E0;
    border: 1px solid #5A6F8F;
    border-bottom-width: 0px;
}
.devmovemenuitems,
.contextmenuitems {
    position: absolute;
    right: 2px;
    width: 12em;
    top: 22px;
    border: 1px solid #5A6F8F;
    background-color: white;
    z-index: 3000;
}
.devmovemenuitems {
    top: 20px;
    right: 2px;
}
ul.zenMenu {
    list-style-type: none;
}
ul.zenMenu li {
    border-bottom: 1px dotted grey;
}
ul.zenMenu li a {
    text-align: justify;
    text-decoration: none;
    display:block;
    padding: 5px;
    height: 100%;
}
ul.zenMenu li a:hover {
    background-color: #DEDEFF;
}
div.menuselected {
}

div.devmovemenu {
    float: right;
    padding: 3px 1em;
    margin: 3px;
    line-height: 100%;
    cursor: pointer;
    color: white;
    text-align:center;
    border-left: 1px dotted darkgrey;
    z-index: 2000;
}
div.devmovemenu:hover {
    background-color: #222;
}

/* IE HACKS */

* html .contextmenubutton {
    width: 5em;
}
* html .contextmenuitems {
    top: 22px;
}
