table.innerzentable {
    margin: 0px;
    padding: 0pt;
    border: 3px solid #5a6f8f;
    position: relative;
    width: 100%;
    top: -3px;
    font-weight: normal;
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.innerzentable tr td {
    padding: 2px;
}
