$window-border-radius: 7px;
$window-border-color: #000;
$window-inner-border-color: #000;
$window-header-color: white;
$window-body-border-color: #000;
$window-body-background-color: transparent;
$window-body-color: #fafafa;
$window-background-color:transparentize(#000, 0.15);
$window-header-font-size: 14px;
